/* Large Screen (lg) - min-width: 992px */
@media (min-width: 992px) {
  .login-button .signup-button {
    display: inline-block; /* Display button inline on lg screens and up */
  }

  .hamburger-icon {
    display: none; /* Hide hamburger icon on large screens */
  }

  /*.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px; 
  }*/

  .nav-item {
    margin: 0.5rem 0; /* Reduce margin for smaller screens */
  }

  .navbar-buttons {
    display: flex; /* Show navbar buttons (e.g., avatar) */
  }
}

/* Hamburger Menu Style for Small Screens */
@media (min-width: 550px) and (max-width: 768px) {
  .Website-Name {
    font-size: 1.6rem; /* Adjust website name font size */
  }
  .nav-links {
    gap: 2px; /* Reduce gap between items */
  }

  .hero-header {
    padding: 7em 0;
    background-size: cover;
    height: 80vh;
  }

  .sangguniang-text,
  .kabataan-color {
    font-size: 4rem; /* Adjust font sizes */
  }

  .western-bicutan-color {
    font-size: 2rem;
  }

  .custom-name {
    font-size: 60px; /* Adjust custom name size */
  }

  .custom-name-wrapper {
    text-align: center; /* Center text on smaller screens */
    margin-top: -2.5rem;
  }

  .IntroDetails {
    font-size: 2rem;
    margin-right: 2rem;
    margin-left: 10%;
    margin-top: -0.5em;
  }

  .image-container {
    margin-bottom: 15px;
  }

  .below-image {
    max-width: 90%; /* Ensure image is responsive */
  }

  .custom-font {
    font-size: 1.2rem; /* Reduce text size */
  }

  /* About*/
  .youth-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    padding: 3rem 1rem; /* Adjust padding for tablets */
  }

  .youth-head {
    font-size: 3.5rem; /* Smaller font size for the title on tablets */
    text-align: center;
    margin-right: 0;
  }

  .youth-text-content {
    font-size: 1rem; /* Adjust text size for tablets */
    max-width: 90%; /* Limit width for text */
    margin-top: 20px;
  }

  .btn-toggle {
    font-size: 14px; /* Adjust button size for tablets */
    margin-left: auto;
    margin-right: auto;
  }

  .ContactCard {
    width: 45%; /* Adjust width for 768px */
  }

  .western-header {
    padding: 12rem 1rem; /* Adjust padding for tablets */
    background-size: 130%; /* Scale the background image */
  }

  table {
    width: 100%;
    min-width: 600px; /* Prevent the table from shrinking too much */
  }

  th,
  td {
    font-size: 14px; /* Slightly increase font size for better readability */
    padding: 10px;
  }

  .btn {
    padding: 8px 15px;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .BodyContainer {
    padding: 1rem; /* Minimal padding for mobile */
  }

  .BlockQuote {
    font-size: 1.5rem; /* Much smaller font */
    margin-top: 1.5rem; /* Small margin for mobile */
  }

  .blockquote p {
    font-size: 0.9rem; /* Very small text */
    line-height: 1.6;
  }

  .CardBodyWithText {
    padding: 1rem; /* Keep the padding consistent */
  }

  .navbar-links .nav-item {
    font-size: 14px;
  }

  .hero-header {
    padding: 1em 0;
    background-size: cover;
    height: 50vh;
  }

  .sangguniang-text,
  .kabataan-color {
    font-size: 2rem; /* Adjust font sizes further */
  }

  .western-bicutan-color {
    font-size: 1.8rem;
  }

  .custom-name {
    font-size: 45px; /* Smaller custom name size */
  }

  .custom-name-wrapper {
    margin-top: -2rem;
  }

  .IntroDetails {
    font-size: 1.8rem;
    margin-right: 1rem;
    margin-left: 5%;
    margin-top: -0.5em;
  }

  .image-container {
    margin-bottom: 10px;
  }

  .below-image {
    max-width: 100%; /* Image fills container on smaller screens */
  }

  .custom-font {
    font-size: 1rem; /* Further reduce text size */
  }

  .custom-feature-item {
    padding: 1rem 0.25rem;
    margin-top: 15px;
    flex-basis: 100%;
  }

  .custom-feature-item i {
    font-size: 1.5rem;
  }

  .custom-feature-item .fw-bold {
    font-size: 1.2rem;
  }

  .custom-feature-item .text-feature {
    display: none;
  }

  /* Adjust the before pseudo-element for even smaller screens */
  .feature-item::before {
    clip-path: polygon(90% 0, 100% 0, 100% 100%, 10% 100%);
  }

  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .ProgramCard {
    width: 11em; /* Make the cards even smaller */
    margin: 5px;
  }

  .program-card-img {
    height: 200px; /* Reduce image size for small screens */
  }

  .NewEveHead {
    font-size: 1.5rem;
  }

  .small-phrase {
    margin-left: 30px;
  }

  .TextContent {
    margin: 1.5rem 0 1.5rem 1rem; /* Minimal margin on mobile */
  }

  .Text-1 {
    font-size: 2rem; /* Much smaller font for Text-1 */
  }

  .Text-2 {
    font-size: 2.5rem; /* Smaller font for Text-2 */
  }

  .Text-3 {
    font-size: 1rem; /* Even smaller font for Text-3 */
  }

  /* About*/
  .youth-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    padding: 2rem 1rem; /* Adjust padding for mobile */
  }

  .youth-head {
    font-size: 2.5rem; /* Smaller font size for the title on mobile */
    text-align: center;
    margin-right: 0;
  }

  .youth-text-content {
    font-size: 0.9rem; /* Smaller text for mobile */
    max-width: 90%; /* Limit width for text */
    margin-top: 20px;
  }

  .btn-toggle {
    font-size: 13px; /* Smaller button for mobile */
    margin-left: auto;
    margin-right: auto;
  }

  /* Contacts */
  .ContactCard {
    width: 100%; /* Adjust width for 500px */
  }

  .custom-card {
    max-width: 300px; /* Even smaller cards for mobile screens */
  }

  .western-header {
    padding: 6rem 1.5rem;
    background-size: 110%; /* Scale the background image further for mobile */
  }

  /* Reservation Log*/

  table {
    width: 100%;
    min-width: 480px;
  }

  th,
  td {
    font-size: 12px;
    padding: 8px;
  }

  .table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .btn {
    padding: 5px 10px;
    font-size: 12px;
  }

  /* Modal */

  .ModalStyles {
    width: 80%; /* Further reduce modal width for mobile screens */
    padding: 10px;
  }

  .ModalButtonStyles {
    font-size: 12px; /* Further reduce button font size */
    padding: 8px 12px; /* Further reduce padding */
  }

  .ModalButtonStyles.SmallButton {
    font-size: 12px;
  }

  /* Reservation Button */
}

@media (max-width: 768px) {
  .table-responsive {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
}

@media (max-width: 500px) {
  .table-responsive {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
}

@media (max-width: 768px) {
  .equipment-container {
    flex: 1 1 calc(33.333% - 1.5rem); /* 2 cards per row */
  }
}

/* For even smaller screens (max width: 500px), display 2 cards per row */
@media (max-width: 500px) {
  .equipment-container .ProgramCard {
    flex: 1 1 calc(50% - 1.5rem); /* 2 cards per row */
  }
}

@media (max-width: 768px) {
  .card-container {
    gap: 40px; /* Less gap for smaller screens */
  }

  .ProgramCard {
    flex: 0 0 calc(33.33% - 40px); /* 3 cards in a row */
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .card-container {
    gap: 20px; /* Even less gap */
  }

  .ProgramCard {
    flex: 0 0 calc(50% - 20px); /* 2 cards in a row */
    margin-bottom: 20px;
  }

  .ProgramCard .card-body {
    font-size: 0.9rem; /* Make content smaller for smaller screens */
  }

  .ProgramCard .card-title {
    font-size: 1rem; /* Smaller font for title */
  }

  .ProgramCard .card-text {
    font-size: 0.85rem; /* Smaller font for text */
  }

  #youthCarousel {
    padding: 1rem 1rem; /* Adjust padding for 500px screens */
  }

  .carousel-item img {
    height: 300px; /* Adjust image height for 500px screens */
  }
}

@media (max-width: 500px) {
  .hamburger-icon {
    display: flex; /* Show hamburger icon on small screens */
    margin-top: 10px;
  }

  .nav-links {
    display: none; /* Hide nav links by default */
  }

  .nav-links.active {
    display: flex; /* Show the nav items when hamburger is clicked */
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .nav-links {
    gap: 30px; /* Further reduce gap between items */
  }

  .Website-Name {
    font-size: 1.4rem; /* Adjust website name font size */
    top: 10px; /* Adjust position */
  }

  .nav-item {
    font-size: 0.8rem; /* Adjust font size for smaller screens */
  }

  .nav-links.active {
    padding: 2rem; /* Adjust padding for smaller screens */
  }

  .navbar-buttons {
    display: none;
  }

  *
    User
    profile
    and
    logout
    inside
    the
    hamburger
    */
    .navbar
    .nav-links
    .profile-logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .navbar .nav-links .profile-logout .nav-item {
    margin: 10px 0; /* Adjust margin for mobile */
  }
}
