/* UserAuthentication.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.user-authentication-contents {
    width: 100%;
    margin: 30px 0 30px 0;
}

/* Left side */

.left-side-responsive {
    width: 60%;
}

.top-part {
    font-weight: normal;
    font-size: 35px;
}

.middle-part {
    font-weight: normal;
    font-size: 30px;
}

.bottom-part {
    font-family: 'Sansita', sans-serif;
    color: #25327A;
    font-weight: bold;
    font-size: 40px;
}

.SK-location {
    font-weight: bolder;
    font-size: 30px;
    margin-left: 60%;
}

/* Right side */

.right-side-contents-container {
    width: 40%;
}

.sign-in-welcome,
.forgot-password-fp,
.sign-up-su {
    font-family: 'Sansita', sans-serif;
    font-size: 50px;
    color: #25327A;
    margin: 25px 0 25px 0;
}

.sign-in-details-container,
.forgot-password-details-container,
.sign-up-details-container {
    width: 80%;
    background-color: #E4E4E4;
}

.sign-in-details-group,
.forgot-password-details-group,
.sign-up-details-group {
    width: 90%;
    margin: 0;
    padding: 0;
}

.sign-in-details-group .sign-in-label,
.forgot-password-details-group .forgot-password-label,
.sign-up-details-group .sign-up-label {
    font-size: 17.5px
}

.user-auth-sign-in-form,
.user-auth-forgot-password-form,
.user-auth-sign-up-form {
    width: 75%;
}

.user-auth-sign-in-form input[type='text'],
.user-auth-sign-in-form input[type='password'],
.user-auth-forgot-password-form input[type='email'],
.user-auth-forgot-password-form input[type='text'],
.user-auth-forgot-password-form input[type='password'],
.user-auth-sign-up-form input[type='text'],
.user-auth-sign-up-form input[type='password'] {
    height: 45px;
    border-style: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 0;
    font-size: 15px;
    transition: all 0.35s;
}

.user-auth-sign-in-form input[type='text']:focus,
.user-auth-sign-in-form input[type='password']:focus,
.user-auth-forgot-password-form input[type='email']:focus,
.user-auth-forgot-password-form input[type='text']:focus,
.user-auth-forgot-password-form input[type='password']:focus,
.user-auth-sign-up-form input[type='text']:focus,
.user-auth-sign-up-form input[type='password']:focus {
    outline: 1px solid #007bff;
}

.forgot-password-link {
    color: #868686;
    font-size: 15px;
}

.sign-up-link {
    color: #25327A;
    margin-bottom: 25px;
}

.forgot-password-email-description,
.sign-up-description {
    color: #838383;
    font-size: 15px;
}

.no-account-p,
.sign-up-link {
    font-size: 15px;
}

.sign-in-button,
.fp-proceed-button,
.fp-submit-button,
.su-proceed-button,
.su-submit-button {
    background-color: #FFFFFF;
    color: #25327A;
    width: 150px;
    height: 50px;
    border: none;
    font-size: 17.5px;
    transition: all 0.35s;
}

.fp-proceed-button,
.fp-submit-button,
.su-proceed-button,
.su-submit-button {
    margin: 10px 0 25px 0;
}

.sign-in-button:hover,
.fp-proceed-button:hover,
.fp-submit-button:hover,
.su-proceed-button:hover,
.su-submit-button:hover {
    background-color: #948a8a;
    color: #FFFFFF;
}


/* Media */

@media (min-width: 1025px) and (max-width: 1440px) {

    /* Left side */

    .left-side-responsive {
        width: 60%;
    }

    .top-part {
        font-size: 30px;
    }

    .middle-part {
        font-size: 25px;
    }

    .bottom-part {
        font-size: 35px;
    }

    .SK-location {
        font-size: 25px;
        margin-left: 60%;
    }

    /* Right side */

    .right-side-contents-container {
        width: 40%;
    }

    .sign-in-welcome,
    .forgot-password-fp,
    .sign-up-su {
        font-size: 40px;
        margin: 25px 0 20px 0;
    }

    .sign-in-details-container,
    .forgot-password-details-container,
    .sign-up-details-container {
        width: 85%;
    }

    .sign-in-details-group .sign-in-label,
    .forgot-password-details-group .forgot-password-label,
    .sign-up-details-group .sign-up-label {
        font-size: 15px
    }

    .user-auth-sign-in-form,
    .user-auth-forgot-password-form,
    .user-auth-sign-up-form {
        width: 75%;
    }

    .user-auth-sign-in-form input[type='text'],
    .user-auth-sign-in-form input[type='password'],
    .user-auth-forgot-password-form input[type='email'],
    .user-auth-forgot-password-form input[type='text'],
    .user-auth-forgot-password-form input[type='password'],
    .user-auth-sign-up-form input[type='text'],
    .user-auth-sign-up-form input[type='password'] {
        height: 40px;
        font-size: 12.5px;
    }

    .forgot-password-link {
        font-size: 12.5px;
    }

    .sign-up-link {
        margin-bottom: 25px;
    }

    .forgot-password-email-description,
    .sign-up-description {
        font-size: 12.5px;
    }

    .no-account-p,
    .sign-up-link {
        font-size: 12.5px;
    }

    .sign-in-button,
    .fp-proceed-button,
    .fp-submit-button,
    .su-proceed-button,
    .su-submit-button {
        width: 125px;
        height: 45px;
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* Left side */

    .left-side-responsive {
        width: 55%;
    }

    .top-part {
        font-size: 25px;
    }

    .middle-part {
        font-size: 20px;
    }

    .bottom-part {
        font-size: 30px;
    }

    .SK-location {
        font-size: 20px;
        margin-left: 50%;
    }

    /* Right side */

    .right-side-contents-container {
        width: 45%;
    }

    .sign-in-welcome,
    .forgot-password-fp,
    .sign-up-su {
        font-size: 30px;
        margin: 25px 0 15px 0;
    }

    .sign-in-details-container,
    .forgot-password-details-container,
    .sign-up-details-container {
        width: 90%;
    }

    .sign-in-details-group .sign-in-label,
    .forgot-password-details-group .forgot-password-label,
    .sign-up-details-group .sign-up-label {
        font-size: 12.5px
    }

    .user-auth-sign-in-form,
    .user-auth-forgot-password-form,
    .user-auth-sign-up-form {
        width: 75%;
    }

    .user-auth-sign-in-form input[type='text'],
    .user-auth-sign-in-form input[type='password'],
    .user-auth-forgot-password-form input[type='email'],
    .user-auth-forgot-password-form input[type='text'],
    .user-auth-forgot-password-form input[type='password'],
    .user-auth-sign-up-form input[type='text'],
    .user-auth-sign-up-form input[type='password'] {
        height: 35px;
        font-size: 10px;
    }

    .forgot-password-link {
        font-size: 10px;
    }

    .sign-up-link {
        margin-bottom: 25px;
    }

    .forgot-password-email-description,
    .sign-up-description {
        font-size: 10px;
    }

    .no-account-p,
    .sign-up-link {
        font-size: 10px;
    }

    .sign-in-button,
    .fp-proceed-button,
    .fp-submit-button,
    .su-proceed-button,
    .su-submit-button {
        width: 100px;
        height: 40px;
        font-size: 12.5px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    /* Left side */

    .left-side-responsive {
        width: 0%;
    }

    /* Right side */

    .right-side-contents-container {
        width: 100%;
    }

    .sign-in-welcome,
    .forgot-password-fp,
    .sign-up-su {
        font-size: 30px;
        margin: 25px 0 10px 0;
    }

    .sign-in-details-container,
    .forgot-password-details-container,
    .sign-up-details-container {
        width: 90%;
    }

    .sign-in-details-group .sign-in-label,
    .forgot-password-details-group .forgot-password-label,
    .sign-up-details-group .sign-up-label {
        font-size: 12.5px
    }

    .user-auth-sign-in-form,
    .user-auth-forgot-password-form,
    .user-auth-sign-up-form {
        width: 75%;
    }

    .user-auth-sign-in-form input[type='text'],
    .user-auth-sign-in-form input[type='password'],
    .user-auth-forgot-password-form input[type='email'],
    .user-auth-forgot-password-form input[type='text'],
    .user-auth-forgot-password-form input[type='password'],
    .user-auth-sign-up-form input[type='text'],
    .user-auth-sign-up-form input[type='password'] {
        height: 35px;
        font-size: 10px;
    }

    .forgot-password-link {
        font-size: 10px;
    }

    .sign-up-link {
        margin-bottom: 25px;
    }

    .forgot-password-email-description,
    .sign-up-description {
        font-size: 10px;
    }

    .no-account-p,
    .sign-up-link {
        font-size: 10px;
    }

    .sign-in-button,
    .fp-proceed-button,
    .fp-submit-button,
    .su-proceed-button,
    .su-submit-button {
        width: 100px;
        height: 40px;
        font-size: 12.5px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    /* Left side */

    .left-side-responsive {
        width: 0%;
    }

    /* Right side */

    .right-side-contents-container {
        width: 100%;
    }

    .sign-in-welcome,
    .forgot-password-fp,
    .sign-up-su {
        font-size: 20px;
        margin: 25px 0 5px 0;
    }

    .sign-in-details-container,
    .forgot-password-details-container,
    .sign-up-details-container {
        width: 90%;
        background-color: #E4E4E4;
    }

    .sign-in-details-group .sign-in-label,
    .forgot-password-details-group .forgot-password-label,
    .sign-up-details-group .sign-up-label {
        font-size: 10px
    }

    .user-auth-sign-in-form,
    .user-auth-forgot-password-form,
    .user-auth-sign-up-form {
        width: 75%;
    }

    .user-auth-sign-in-form input[type='text'],
    .user-auth-sign-in-form input[type='password'],
    .user-auth-forgot-password-form input[type='email'],
    .user-auth-forgot-password-form input[type='text'],
    .user-auth-forgot-password-form input[type='password'],
    .user-auth-sign-up-form input[type='text'],
    .user-auth-sign-up-form input[type='password'] {
        height: 30px;
        font-size: 7.5px;
    }

    .forgot-password-link {
        font-size: 7.5px;
    }

    .sign-up-link {
        margin-bottom: 25px;
    }

    .forgot-password-email-description,
    .sign-up-description {
        font-size: 7.5px;
    }

    .no-account-p,
    .sign-up-link {
        font-size: 7.5px;
    }

    .sign-in-button,
    .fp-proceed-button,
    .fp-submit-button,
    .su-proceed-button,
    .su-submit-button {
        width: 75px;
        height: 35px;
        font-size: 10px;
    }
}
