/* <uniquifier>: Use a unique and descriptive class name8/
/* <weight>: Use a value from 300 to 900 */

@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

/********** Template CSS **********/
/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

img.animated.pulse {
  animation-duration: 5s;
}

/****** Colors ******/

:root {
  forced-color-adjust: auto; /* or none */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Ensure the body fills the entire viewport */
}

.breadcrumb-item {
  color: gray;
  cursor: pointer;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  line-height: 5;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: " / ";
  color: black;
  margin: 0 20px; /* Controls the spacing around the slash */
}

.breadcrumb-item.active {
  font-size: 13px;
  line-height: 5;
  font-weight: 300;
  color: rgb(16, 16, 180);
  cursor: pointer;
}

.clr-db {
  color: #25327a;
}

.clr-w {
  color: #ffffff;
}

/****** Background Color ******/

.bg-db {
  background-color: #25327a !important;
  color: #ffffff;
}

/****** Buttons ******/

.btn-db {
  color: #ffffff;
  border-color: #25327a;
  background-color: #25327a;
}
.btn-dark {
  color: #fff;
  background-color: #080808;
  border-color: #f9f8fa;
}

.LargeButton {
  font-weight: 400;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  font-size: 2;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  align-items: center;
  margin-left: 1em;
  width: max-content;
}

.SmallButton {
  font-weight: 400;
  text-align: center;
  padding: 1rem;
  font-size: 2;
  line-height: 1.5;
  border-radius: 0.25rem;
  align-items: center;
  width: max-content;
}

.closeButton {
  position: absolute; /* Position relative to .ModalStyles */
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: #070000;
  cursor: pointer;
  outline: none; /* Removes the focus outline */
  box-shadow: none;
}

.closeButton:hover {
  color: #ff0000; /* Red color when hovered */
  background: transparent;
}

/****** Text ******/

.txt-db {
  font-family: "Sansita";
}

.txt-i-db {
  font-family: "Sansita";
  font-style: italic;
}

/******* Width Size *******/

.large {
  width: 500px;
}

.semi-large {
  width: 300px;
}

.after-small {
  width: 200px;
}

.small {
  width: 150px;
  height: 50px;
}

.super-small {
  width: 100px;
}

.ultra-small {
  width: 50px;
}

/****** Modals ******/

.ModalOverlayStyles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensures the overlay stays on top */
}

.ModalStyles {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative; /* Ensure the close button is positioned relative to this container */
  z-index: 1100; /* Ensures the modal content is above the overlay */
}

.ModalButtonStyles {
  margin: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.sign-up-modal-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/*Overall*/

.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container-fluids {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* Apply to the container or body surrounding the .BodyContainer */
body,
.BodyContainer {
  margin: 0;
  padding: 0;
}

.Website-Name {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "Sansita";
  font-style: italic;
  font-weight: bold;
  font-size: 10rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.Website-Name img {
  width: 70px;
  margin-right: 10px;
}

/* Reset Styles */
h2,
.navbar,
.nav-links {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** Navbar ***/

/* Navbar Styling */
.navbar {
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #25327a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Website Name */
.Website-Name {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.8rem;
  position: absolute;
  left: 10px; /* Adjust as needed */
  top: 15px;
}

/* Navbar links */
.nav-links {
  display: flex;
  align-items: center;
  margin-left: 50%;
  justify-content: space-between; /* Distribute space evenly */
  gap: 100px;
  transition: right 0.3s ease;
}

.nav-links-main {
  display: flex;
  flex-direction: row; /* Default to row layout */
  justify-content: space-between;
  align-items: center;
  margin-left: 50%;
  gap: 100px;
  transition: right 0.3s ease;
}

.nav-links-main.active {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  transform: translate(50%, 15%); /* Center the menu */
  background-color: #25327a;
  padding: 3rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  gap: 5px;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  margin: 1rem;
  color: #ffffff !important;
  text-decoration: none; /* Remove underline */
  transition: color 0.3s, opacity 0.3s; /* Smooth transition for color and fade */
  cursor: pointer;
}

.nav-item:hover {
  opacity: 0.7; /* Slight fade on hover */
}

.nav-item.active {
  opacity: 0.5; /* Fade effect on clicked link */
  color: #ffffff;
}

.nav-item-buttons.active {
  display: inline-block;
  opacity: 0.5; /* Fade effect on clicked link */
  color: #ffffff;
}

.nav-links.active {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  transform: translate(40%, 15%); /* Center the menu */
  background-color: #25327a;
  padding: 5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  gap: 5px;
}

/* Buttons */
.navbar-buttons {
  display: flex;
  gap: 5px;
  margin-right: 40px; /* Adjust as needed */
  align-items: center;
}

.desktop-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin: auto;
  align-items: center;
}

.login-button,
.signup-button {
  background-color: #10d0f3d8;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button.active,
.signup-button.active {
  background-color: #ffffff;
  color: #25327a;
}

.login-button:hover,
.signup-button:hover {
  background: transparent;
  color: #25327a;
}

/* Hamburger Icon */
.hamburger-icon {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 30px;
}

.hamburger-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #f8f1f1;
}

/*.hamburger-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 60px; 
  right: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
}

.hamburger-dropdown .nav-item {
  margin: 5px 0;
  color: #333;
  text-decoration: none;
} */

/* Media query for mobile/tablet (screen width less than or equal to 768px) */

.sangguniang-text {
  font-size: 5rem;
}

.kabataan-color {
  color: red; /* Red color for Kabataan */
  font-size: 5rem;
}

.western-bicutan-color {
  color: yellow; /* Yellow color for Western Bicutan */
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}

.western-header {
  position: relative;
  padding: 18.5rem 1rem;
  background: url(./Asset/Western\ Photo.png) center center no-repeat;
  background-size: cover;
}

/*** Hero Header ***/
.hero-header {
  position: relative;
  padding: 13em 0;
  background: url(/public/Asset/WebImages/Bg_noLOGO.png) no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  height: 90vh;
  margin: 0;
}

.custom-name {
  font-weight: bold;
  font-size: 80px;
  margin: 0 0 0 0;
  width: 80%;
}

.custom-name-wrapper {
  text-align: right;
  margin-top: -3.5rem;
  margin-right: 2rem;
}

.sangguniang-text {
  font-size: 7rem;
  font-style: italic;
}

.kabataan-color {
  font-size: 7rem;
}

.IntroDetails {
  font-weight: bold;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slideInRight;
  margin-right: 1.5rem;
  margin-left: 60%;
  color: yellow;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  margin-top: -0.5em;
}

.custom-font {
  color: white;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}
.below-image {
  justify-content: center;
  max-width: 600px;
}

/***Mandate***/

/* Inside the container - keeps the previous style */
.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.icon-img {
  width: 50px;
  height: 50px;
}

/* Outside the container - places the icon outside the card, above it */
.icon-container-outside {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Adjust the space between the icon and the card */
}

.icon-img-outside {
  width: 50px; /* Adjust the size */
  height: 50px; /* Adjust the size */
}

/***Program***/

/* Default styles for the feature items */
.feature-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.feature-item .border {
  position: relative;
  border-color: rgba(255, 255, 255, 0.2) !important;
  z-index: 1;
}

.custom-feature-item {
  animation: fadeIn 1s ease-in-out;
  position: relative;
  text-align: center;
  padding: 1rem;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-feature {
  color: #343a40; /* Dark text color, you can adjust this to your needs */
  margin-bottom: 0 !important; /* Removes bottom margin */
  font-size: 0.875rem; /* Equivalent to fs-6 in Bootstrap */
}

.card-container {
  background: linear-gradient(to top, #fdfbfb, #cdd3f4, #9facfb);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 80px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 2px;
  row-gap: 5px;
}

.ProgramCard {
  color: #b4d0ee;
  height: auto;
  max-height: 120%;
  width: 20em;
  margin: 50px 0 0 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ProgramCard:hover {
  transform: translateY(-10px); /* Move upward slightly */
  box-shadow: 0 10px 20px rgb(168, 153, 255); /* Stronger shadow on hover */
}

.program-card-img {
  height: 300px; /* Set a fixed height */
  width: 30em; /* Make the width responsive to the card */
  object-fit: cover; /* Ensure the image fills the dimensions without distortion */
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

/*/* News and Events */

.card-container-news {
  background: linear-gradient(to top, #cecbf8, #ebeefe, #ffffff);
  padding: 20px 0;
  border-radius: 8px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.NewEveHead {
  color: #1d0053;
  margin-top: 4rem;
  font-weight: 700; /* Adjust the font-weight as needed */
  text-align: center; /* Center the text */
  font-size: 6rem;
}

.custom-carousel-icon {
  display: block; /* Makes it a block element */
  width: 30px; /* Increase the width */
  height: 30px; /* Increase the height */
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Add a background color for visibility */
  border-radius: 50%; /* Make it circular */
}

.custom-carousel-icon::before {
  content: "";
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #3f0e99;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0;
  margin-top: 50px;
  font-weight: bold;
}

.small-phrase {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem !important;
  color: #280961;
  letter-spacing: 2.5px;
  margin: 0;
  margin-top: -20px;
}

.small-phrase span {
  margin-right: 40px; /* Adds space between words */
}

.yellow {
  color: rgba(42, 102, 254, 0.84);
}

.red {
  color: rgba(42, 102, 254, 0.84);
}
.green {
  color: rgba(42, 102, 254, 0.84);
}
.centered-text:hover {
  color: #72b4ff;
  transform: scale(1.2);
}

/*** Spotlight ***/

.bg-secondary {
  background-color: #04294f; /* Dark blue */
}

.text-light {
  color: #ffffff; /* White text */
}

.spotlight-container {
  background: linear-gradient(to bottom, #edebf9);
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns: headline and image */
  grid-template-rows: auto auto; /* Rows for button below */
  align-items: center;
  justify-items: center;
  gap: 2rem; /* Space between columns */
  padding: 2rem;
}

.spotlight-head {
  color: #1d0053;
  font-weight: 700;
  font-size: 5rem;
  text-align: left; /* Align text to the left */
  justify-self: start; /* Align within the grid cell */
  margin: 0;
}

.image-content {
  max-width: 100%;
  text-align: right; /* Align image to the right */
}

.image-content img {
  width: 100%;
  max-width: 3500px;
  object-fit: cover;
  border-radius: 8px;
}

.spotlight-button {
  grid-column: span 2; /* Make the button span both columns */
  justify-self: center; /* Center the button horizontally */
  font-weight: 400;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  text-decoration: none;
}

.spotlight-button:hover {
  background-color: #4a148c;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 992px) {
  .spotlight-container {
    grid-template-columns: 1fr; /* Single-column layout for smaller screens */
    grid-template-rows: auto auto auto; /* Each element gets its own row */
    gap: 1.5rem; /* Reduce spacing */
  }

  .spotlight-head {
    text-align: center;
    font-size: 2.5rem;
  }

  .image-content {
    text-align: center;
  }

  .image-content img {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .spotlight-head {
    font-size: 2rem;
  }

  .image-content img {
    max-width: 300px;
  }

  .nav-links-main {
    align-items: center;
    margin-left: 45%;
    gap: 5px;
    transition: right 0.3s ease;
  }
}

/* About */

.BodyContainer {
  margin-top: 0 !important;
  padding-top: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.CardBodyWithText {
  color: #ffffff;
  background-color: #25327a;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
}

.BodyContainer blockquote p {
  color: #ffffff !important;
}

.blockquote p {
  text-align: justify;
  font-size: 1.1rem;
  line-height: 2;
}

.BlockQuote {
  color: #060707; /* Equivalent to text-primary */
  margin-top: 5rem; /* Equivalent to mb-4 */
  font-weight: 700; /* Adjust the font-weight as needed */
  text-align: center; /* Center the text */
  font-size: 2.5rem;
}

/*SK Council*/
.Divider {
  display: flex; /* Change to flex to use Flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 2rem;
  animation: fadeIn 1s ease-in-out;
  border-right: 1px solid rgb(249, 249, 249);
  border-left: 2px solid rgb(10, 10, 10);
  width: 30%;
}

.bg-custom {
  background-color: #27036a;
}

/*Text*/

.TextContent {
  justify-self: start; /* Align text to the start (left) */
  margin-bottom: 5rem;
  margin-top: 5rem;
  margin: 5rem 0 5rem 2rem;
  font-family: "Sansita";
}

.Text-1 {
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: oblique;
  font-size: 3.8rem;
}

.Text-2 {
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: oblique;
  font-size: 4.2rem;
}

.Text-3 {
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5rem;
  font-family: "Poppins";
  color: #002f4e;
}

/**PROGRAMS**/

.custom-card {
  width: 700px; /* Width for landscape effect */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 12px 24px rgb(197, 200, 255);
}

.custom-card .btn {
  background-color: #1d0053;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

.custom-card .btn:hover {
  background-color: #ffffff;
  color: #1d0053;
  transform: translateY(-2px);
}

.custom-card-img {
  width: 100%; /* Image should take full width of the card */
  height: 400px; /* Set a fixed height for the image to keep it landscape */
  object-fit: cover; /* Ensures image covers the entire space without distortion */
}

.card-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem 0;
}

/*PROGRAM HEADING*/
.Maintext {
  font-size: 3.5rem;
  color: #1d0053;
  font-weight: bold;
}

.Subtext {
  font-size: 1rem;
  color: #0c0c0c;
}

/*CONTACT*/

.custom-bg {
  background-color: #1d0053 !important;
  padding: -1px;
}

.DividerText {
  color: #e1e7f5;
  font-size: 2rem !important;
  font-family: "Poppins", sans-serif;
  font-weight: 550 !important;
  text-align: center;
  margin: 0;
}

.DividerText + .DividerText {
  margin-top: 2px;
}

.Text-3 {
  color: #072b7e;
  font-style: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.d-flex img {
  margin-bottom: 40px;
}

/*** Footer ***/

.footer-name {
  font-family: "Sansita";
  font-size: 4.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px;
  position: relative;
  left: 20px;
  top: 10px;
}

.footer-line {
  border: 1px solid #ffffff;
  width: 90%;
  margin: 0 auto;
}

.footer-text {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 30px;
}

.footer .btn.btn-link {
  text-align: left;
  color: #f1f1f1;
  font-weight: normal;
}

.small-footer .col-md-3,
.small-footer .col-md-2 {
  font-size: 12px;
}

.footer h6 {
  font-size: 16px;
}

.footer p,
.footer .btn-link {
  font-size: 13px;
  padding: 0;
  margin: 0;
}

/* Responsive Layout */
@media (max-width: 992px) {
  .footer-content {
    text-align: center; /* Center content for medium screens */
  }

  .footer-name {
    font-size: 3rem; /* Smaller font size for footer name */
  }

  .footer .col-md-3 {
    width: 24%; /* Adjust column width for medium screens */
  }

  .footer-text {
    font-size: 12px; /* Smaller footer text */
  }
  .nav-links-main {
    margin-left: 45%;
    gap: auto;
  }
}

@media (max-width: 768px) {
  .footer .col-md-3 {
    width: 30%; /* Adjust column width for small screens */
  }

  .footer-name {
    font-size: 2.5rem; /* Further reduce font size */
  }

  .footer-text {
    font-size: 11px; /* Smaller footer text */
  }
}

@media (max-width: 500px) {
  .footer .col-md-3 {
    width: 20%; /* Further adjust column width for mobile screens */
  }

  .footer-name {
    font-size: 2rem; /* Further reduce font size for small screens */
  }

  .footer-text {
    font-size: 10px; /* Smaller footer text */
  }
}

/* Dropdown styles */

.dropdownAvatar {
  color: #000000;
  padding: 5px 5px;
  text-decoration: none;
  text-align: center;
}

.dropdown-about {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #172363;
  padding: 12px;
  border-radius: 6px;
  display: none;
  z-index: 999;
}

.dropdown-about:hover .dropdown-content {
  display: block;
}

.dropdown-content .dropdown-item {
  color: #f5f5f5;
  padding: 5px 10px;
  text-decoration: none;
}

.dropdown-content .dropdown-item:hover {
  background-color: #00379d;
  color: #02092e;
}

.dropbtn {
  padding: 40px;
  border: none;
  background: none;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #277cfc;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1100;
  top: 100%;
  left: 0;
  padding: 0;
}

.dropdown-content a {
  color: rgb(11, 23, 113);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.custom-dropdown {
  position: relative;
}

.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #333;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}
.dropdown-item {
  display: block;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
}

.dropdown-item:hover {
  background: #f8f9fa;
}

/*SK Youth*/

.youth-container {
  display: flex;
  grid-template-columns: 1fr auto 1fr; /* 3 columns: text, button, image */
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 5rem 2rem;
  color: #1d0053;
  flex-wrap: wrap;
}

.youth-text-content {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 100%;
  margin-top: 40px;
  overflow: hidden;
  color: #131313;
}

.youth-head {
  font-weight: 600;
  text-align: left;
  font-size: 5.5rem;
  margin-top: 20px;
  margin-right: 2rem;
  font-family: "Poppins", sans-serif;
}

.btn-toggle {
  margin-top: 10px;
  padding: 8px 13px;
  font-size: 16px;
  background-color: #171882;
  color: white;
  border: none;
  cursor: pointer;
  float: right;
}

.btn-toggle:hover {
  background-color: #252ed6;
}

/* Gradient Backgrounds */
.gradient-custom {
  background: linear-gradient(45deg, #c45dff 5%, #2172ff 100%);
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gradient-custom-4 {
  background: linear-gradient(45deg, #ff6a00 0%, #ff0c81 100%); /*!important*/
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Timeline Container */
.main-timeline {
  position: relative;
  padding: 20px 0;
  margin: 5px;
}

.main-timeline:before {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #25327a;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Timeline Items */
.timeline-left,
.timeline-right {
  position: relative;
  width: 45%;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 30px;
}

.timeline-left {
  left: 55%;
}

.timeline-right {
  left: 0;
}

.timeline-left .card,
.timeline-right .card {
  position: relative;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timeline-left .card:before,
.timeline-right .card:before {
  content: "";
  position: absolute;
  top: 20px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline-left .card:before {
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #6a11cb transparent transparent; /* Color for arrow */
}

.timeline-right .card:before {
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #ff6a00; /* Color for arrow */
}

/*SK Council*/

.img-responsive {
  width: 100%; /* Ensures the image scales properly */
  height: auto; /* Maintains the aspect ratio */
}

/*Former Council*/

.carousel-container {
  margin: 0 auto; /* Center the carousel container */
  max-width: 1500px; /* Set a maximum width */
}

/*Contact Us*/

/* Contact container */
.contact-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
}

/* Divider */
.DividerType2 {
  margin-top: auto;
  display: inline-block;
  padding: 3rem;
  animation: fadeIn 1s ease-in-out;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Divider text */
.DividerText {
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-left: 8rem;
}

/* Contact card */
.ContactCard {
  font-weight: 400;
  text-align: center;
  padding: 5em;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slideInLeft;
  width: 25%;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Ensure text is horizontal */
.ContactCard p {
  writing-mode: horizontal-tb;
}

.PageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*.PageContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  justify-items: center; 
  align-items: center; )
}/

/****** Form *******/

/* Right part of container */
.sign-in-form,
.sign-up-form {
  background-color: #e4e4e4;
  height: 500px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
  margin-left: auto;
}

.sign-in-form button,
.sign-up-form button {
  color: #25327a;
  height: 50px;
  width: 35%;
  font-weight: bold;
  font-size: 20px;
  border-style: none;
  border-radius: 20px;
  box-shadow: 0px 2px 4px;
}

.welcome-back-sign-in h2,
.start-with-us-sign-up h2 {
  color: #25327a;
  font-family: "Sansita";
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins";
  gap: 15px;
  margin-left: 20px;
}

.sign-in-username input,
.sign-in-password input {
  width: 300px;
  height: 50px;
  border-style: none;
  border-radius: 20px;
}

.sign-in-form-bottom {
  margin-top: 10%;
  display: flex;
  gap: 5px;
}

#sign-in-forgot-password {
  color: #868686;
}

#sign-up-button {
  color: #25327a;
  font-weight: bold;
}

#sign-in-forgot-password:hover,
#sign-up-button:hover {
  text-decoration: underline;
}

/* General table styling */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

/* Table header and cell styling */
th,
td {
  padding: 12px;
  text-align: left;
}

th {
  font-size: 14px;
  font-weight: bold;
}

td {
  font-size: 12px;
}

.btn {
  padding: 5px 10px;
  font-size: 12px; /* Adjust button size for mobile */
}

.equipment-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem; /* Equivalent to g-4 in Bootstrap (1.5rem or 24px) */
}