/* ManagePrograms.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.admin-program-container {
  position: relative;
  padding-top: 75px;
  left: 22.5%;
  width: 77.5%;
  background-color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  z-index: 1;
}

.admin-program-label-h2 {
  font-size: 40px;
  margin: 20px 0 20px 40px;
}

.admin-program-nav-tabs {
  cursor: pointer;
  font-size: 20px;
  margin: 0 0 20px 60px;
  gap: 1in;
  color: #766f6f;
  transition: all 0.35s;
}

.admin-program-nav-tabs li:hover {
  color: #e3dfdf;
}

.admin-program-nav-tabs li.active-tab {
  color: red;
  text-decoration: underline;
  text-decoration-color: #c1c1c1;
  text-underline-offset: 10px;
}

.admin-program-contents-container {
  margin-bottom: 40px;
}

/* Admin All Programs */

/* .admin-programs-details-container {
  background-color: red;
} */

.admin-program-card {
  width: 90%;
  height: 20%;
  margin-bottom: 10px;
}

.admin-programs-details-container {
  width: 90%;
}

.admin-program-card {
  width: 100%;
}

.admin-program-image-container {
  width: 25%;
  height: auto;
}

.admin-program-details-container {
  width: 60%;
}

.admin-program-image {
  height: 180px;
  width: 250px;
}

.admin-program-text {
  font-size: 20px;
}

.program-details-button,
.program-edit-button {
  margin-right: 10px;
}


/* Admin Program Extended Details */

.admin-program-expanded-details-container {
  width: 90%;
  margin: 20px auto 0;
}

.admin-program-description-label {
  font-size: 22.5px;
}

.admin-program-amenities-label {
  font-size: 22.5px;
}

.admin-program-pt-label {
  font-size: 22.5px;
  margin-top: 20px;
}

.program-p {
  font-size: 17.5px;
}

.amenity-preview {
  width: 75px;
  height: 75px;
  margin: 5px;
}

/* Edit Program Modal */

.edit-program-modal {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  background-color: #c5c1c1;
}

.edit-program-content {
  margin: 20px 0 20px 0;
}

.admin-edit-program-details-group {
  width: 90%;
  margin: 0 auto;
}

.admin-edit-program-label {
  font-family: 'Roboto', sans-serif;
  font-size: 17.5px;
}

.admin-edit-program-form input[type="text"],
.admin-edit-program-form textarea {
  height: 50px;
  border-style: none;
  border-radius: 10px;
  outline: none;
  margin-bottom: 0px;
  font-size: 17.5px;
  transition: all 0.35s;
}

.edit-modal-buttons-container {
  margin-top: 10px;
}

.edit-save-button {
  margin-right: 10px;
}


/* Admin Add Program */

.admin-add-program-details-container {
  background-color: #c5c1c1;
  width: 90%;
}

.admin-add-program-details-group {
  margin: 25px 0 25px 0;
  width: 90%;
}

.admin-add-program-form {
  width: 100%;
}

.admin-add-program-label {
  font-family: 'Roboto', sans-serif;
  font-size: 17.5px;
}

.admin-add-program-form input[type="text"],
.admin-add-program-form textarea {
  height: 50px;
  border-style: none;
  border-radius: 10px;
  outline: none;
  margin-bottom: 0px;
  font-size: 17.5px;
  transition: all 0.35s;
}

.admin-add-program-form input[type="text"]:focus,
.admin-add-program-form textarea:focus {
  outline: 1px solid #007bff;
}

.admin-add-program-button {
  background-color: #42BB4E;
  color: #FFFFFF;
  margin-top: 10px;
  width: 150px;
  height: 55px;
  font-size: 15px;
  border-style: none;
  transition: all 0.35s;
}

.admin-add-program-button:hover {
  color: rgb(2, 107, 107);
}


/* Media */

@media (min-width: 1025px) and (max-width: 1440px) {


}

@media (min-width: 768px) and (max-width: 1024px) {


}

@media (min-width: 481px) and (max-width: 767px) {
  

}

@media (min-width: 320px) and (max-width: 480px) {


}
