/* AdminReports.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.admin-reports-container {
    position: relative;
    padding-top: 75px;
    left: 22.5%;
    width: 77.5%;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.admin-reports-label-h2 {
    font-size: 40px;
    margin: 20px 40px 20px 40px;
}

.admin-reports-generate-classification-date-container {
    width: 90%;
    gap: 0.25in;
    margin: 0 auto 20px;
}

.admin-reports-classification-container,
.admin-reports-date-container,
.admin-reports-info-container {
    width: 28.33%;
}

.admin-reports-classification,
.admin-reports-date,
.admin-reports-info {
    width: 100%;
    height: 50px;
    font-size: 17.5px;
    border-style: solid;
    border-width: 1px;
    transition: all 0.35s;
}

.admin-reports-classification:hover,
.admin-reports-date:hover,
.admin-reports-info:hover {
    color: #FFFFFF;
    background-color: #858585;
}

.admin-reports-classification:focus,
.admin-reports-date:focus,
.admin-reports-info:focus {
    outline: 1px solid #007bff;
}

.admin-reports-classification option,
.admin-reports-date option {
    background-color: #FFFFFF;
    color: #000000;
    pointer-events: none;
}

.admin-reports-generate-pdf-container {
    width: 15%;
}

.admin-reports-generate-pdf-button {
    background-color: #25327A;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    transition: all 0.35s;
}

.admin-reports-generate-pdf-button:hover {
    color: rgb(2, 107, 107);
}

.reports-list-container {
    width: 90%;
    margin: 0 auto 40px;
}

.admin-reports-users-table,
.admin-reports-equipment-table,
.admin-reports-reservation-table,
.admin-reports-inventory-table {
    width: 100%;
}

.reports-users-label-h2,
.reports-equipment-label-h2,
.reports-reservation-label-h2,
.reports-inventory-label-h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.admin-reports-users-table-container,
.admin-reports-equipment-table-container,
.admin-reports-reservation-table-container,
.admin-reports-inventory-table-container {
    width: 100%;
}

.reports-list-container tr {
    height: 35px;
}

.reports-list-container th {
    font-size: 17.5px;
    font-weight: bold;
}

.reports-list-container td {
    font-size: 17.5px;
}


/* Media */

@media (min-width: 1025px) and (max-width: 1440px) {

    .admin-reports-label-h2 {
        font-size: 37.5px;
    }

    .admin-reports-classification-container,
    .admin-reports-date-container,
    .admin-reports-info-container {
        width: 26.66%;
    }

    .admin-reports-generate-pdf-container {
        width: 20%;
    }

    .admin-reports-generate-pdf-button {
        font-size: 15px;
    }

    .reports-users-label-h2,
    .reports-equipment-label-h2,
    .reports-reservation-label-h2,
    .reports-inventory-label-h2 {
        font-size: 27.5px;
    }

    .reports-list-container tr {
        height: 32.5px;
    }

    .reports-list-container th {
        font-size: 15px;
    }

    .reports-list-container td {
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .admin-reports-label-h2 {
        font-size: 35px;
    }

    .admin-reports-classification-container,
    .admin-reports-date-container,
    .admin-reports-info-container {
        width: 25%;
    }

    .admin-reports-generate-pdf-container {
        width: 25%;
    }

    .admin-reports-classification,
    .admin-reports-date,
    .admin-reports-info {
        height: 45px;
        font-size: 12.5px;
    }

    .admin-reports-generate-pdf-button {
        height: 45px;
        font-size: 12.5px;
    }

    .reports-users-label-h2,
    .reports-equipment-label-h2,
    .reports-reservation-label-h2,
    .reports-inventory-label-h2 {
        font-size: 25px;
    }

    .reports-list-container tr {
        height: 30px;
    }

    .reports-list-container th {
        font-size: 12.5px;
    }

    .reports-list-container td {
        font-size: 12.5px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .admin-reports-container {
        left: 0%;
        width: 100%;
    }

    .admin-reports-label-h2 {
        font-size: 35px;
        margin: 20px 0 20px 25px;
    }

    .admin-reports-classification-container,
    .admin-reports-date-container,
    .admin-reports-info-container {
        width: 23.33%;
    }

    .admin-reports-generate-pdf-container {
        width: 30%;
    }

    .admin-reports-classification,
    .admin-reports-date,
    .admin-reports-info {
        height: 45px;
        font-size: 12.5px;
    }

    .admin-reports-generate-pdf-button {
        height: 45px;
        font-size: 12.5px;
    }

    .reports-users-label-h2,
    .reports-equipment-label-h2,
    .reports-reservation-label-h2,
    .reports-inventory-label-h2 {
        font-size: 22.5px;
    }

    .reports-list-container tr {
        height: 30px;
    }

    .reports-list-container th {
        font-size: 10px;
    }

    .reports-list-container td {
        font-size: 10px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .admin-reports-container {
        left: 0%;
        width: 100%;
    }

    .admin-reports-label-h2 {
        font-size: 30px;
        margin: 20px 0 20px 20px;
    }

    .admin-reports-classification-container,
    .admin-reports-date-container,
    .admin-reports-info-container {
        width: 21.66%;
    }

    .admin-reports-generate-pdf-container {
        width: 35%;
    }

    .admin-reports-classification,
    .admin-reports-date,
    .admin-reports-info {
        height: 35px;
        font-size: 10px;
    }

    .admin-reports-generate-pdf-button {
        height: 35px;
        font-size: 10px;
    }

    .reports-users-label-h2,
    .reports-equipment-label-h2,
    .reports-gym-label-h2,
    .reports-inventory-label-h2 {
        font-size: 20px;
    }

    .reports-list-container tr {
        height: 22.5px;
    }

    .reports-list-container th {
        font-size: 10px;
    }

    .reports-list-container td {
        font-size: 10px;
    }
}
