/* AdminBSSidebar.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.admin-bs-sidebar {
    position: fixed;
    padding-top: 75px;
    width: 25%;
    height: 100%;
    background-color: #e2dbdb;
    z-index: 2;
}

.admin-bs-sidebar-links a,
.admin-bs-manage-website-nested-links a,
.admin-bs-reservations-nested-links a {
    text-decoration: none;
    color: black;
}

.admin-bs-list,
.admin-bs-list a, 
.manage-website-link-open,
.reservations-link-open {
    color: black;
    font-family: 'Inter', 'sans-serif';
    transition: all 0.35s ease;
}

.admin-bs-list:hover,
.admin-bs-list a:hover,
.manage-website-link-open:hover,
.reservations-link-open:hover {
    color: #FFFFFF;
    background-color: #3f3d3d;
}

.admin-bs-list.active, 
.admin-bs-manage-website-nested-links .admin-bs-list.active,
.admin-bs-reservations-nested-links .admin-bs-list.active {
    background-color: #E1D142;
    transition: all 0.35s ease;
}

.admin-sidebar-icon {
    font-size: 30px;
    color: black;
}
