/* AdminManageContactUs.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.admin-contact-us-container {
    position: absolute;
    top: 75px;
    left: 25%;
    width: 75%;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.label-and-button-container {
    margin: 20px 40px 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label-and-button-container h2 {
    font-size: 30px;
}

.label-and-button-container button {
    background-color: #888585;
    color: #FFFFFF;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

/* .label-and-button-container button:hover {

}
*/

.component-contents-container {
    display: flex;
    justify-content: center;
}

.contact-us-container, .edit-contact-us-container {
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: #8D8C8C;
}

/* Still not finished. */
/* Missing:
1. Contents, since the contents of the form will be retrieved from the database
2. Hover for buttons
3. Design for upcoming contents */
