/* ManageHomePage.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.admin-home-container {
    position: absolute;
    top: 75px;
    left: 25%;
    width: 75%;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.label h2 {
    margin: 20px 40px 20px 40px;
    font-size: 30px;
}

.home-nav-tabs {
    display: flex;
    margin: 20px 0 20px 30px;
    font-size: 20px;
    list-style: none;
    gap: 1in;
    color: #766F6F;
}

.component-contents-container {
    display: flex;
    justify-content: center;
}

.home-details-container, .events-details-container, .add-event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* height: 500px; */
    width: 90%;
    background-color: #8D8C8C;
}

.home-input-group {
    display: flex;
    flex-direction: column;
    background-color: orange;
}

/* .adminhomepage-input-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
} */


/* Mababago pa yung sa height dito since yung events section eh wala pang contents na nakukuha sa database. */
/* 

.adminhomepage-input-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.adminhomepage-input-group input, textarea {
    width: 90%;
    height: 50px;
    border-style: none;
    border-radius: 20px;
    background-color: #F0EFEF;
} */

/* Wala muna kasi apektado yung user side. */
/* .adminhomepage-btn {
    height: 10%;
    width: 15%;
    margin-top: 15px;
    border-style: none;
    border-radius: 20px;
    background-color: #888585;
} */

/* Still not finished. */
/* Missing: 

1. Active link design
2. Hover for link

---- In Manage Details:
1. Alignment of label
2. Hover for input and button

---- In All Announcements/Events:
1. All of it since it is still not connected to the database.

---- In Add Event section:
1. Alignment of label
2. Hover for input and button
*/
