/* AdminNavbar.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.admin-navbar {
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background-color: #25327A;
    z-index: 2;
}

#iSKed-logo {
    height: 50px;
}

.admin-panel {
    margin-left: 2.5%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.admin-panel h1 {
    font-family: 'Sansita', sans-serif;
    font-weight: 750;
    font-style: italic;
    font-size: 30px;
}

/* Not finalized */
.admin-navbar button {
    margin-right: 2.5%;
}

.admin-navbar button:hover {
    color: red;
}
