@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.admin-dashboard-container {
    position: relative;
    padding-top: 75px;
    padding-bottom: 40px;
    left: 22.5%;
    width: 77.5%;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.admin-dashboard-label-h2 {
    font-size: 40px;
    margin: 20px 0 10px 40px;
}

.admin-dashboard-label-p {
    font-size: 20px;
    margin: 0 0 10px 40px;
}

/* Year Selection */

.admin-dashboard-container-2 {
    width: 90%;
    margin: 0 auto 25px;
}

.year-dropdown-container {
    width: 100%;
}

.year-selection-container {
    height: 45px;
    width: 85%;
}

.year-selection-label {
    font-size: 15px;
}

.year-select {
    width: 40%;
    height: 45px;
    font-size: 15px;
    margin-left: 10px;
}

.year-select:hover {
    color: #FFFFFF;
    background-color: #858585;
}

.year-select:focus {
    outline: 1px solid #007bff;
}

.year-select option {
    background-color: #FFFFFF;
    color: #000000;
    pointer-events: none;
}

/* Export Button */

.export-button-container {
    height: 45px;
    width: 15%;
}

.admin-dashboard-export-data-button {
    background-color: #25327A;
    color: #FFFFFF;
    width: 100%;
    height: 45px;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    transition: all 0.35s;
}

/* Graphs */

.admin-dashboard-charts-section {
    width: 90%;
    margin: 0 auto;
}

.reservations-label-h2,
.userd-label-h2,
.equipment-label-h2,
.yearlyrd-label-h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.admin-dashboard-charts-container {
    width: 100%;
    flex-wrap: wrap;
    gap: 10%;
}

.admin-chart-container {
    width: 40%;
    margin-bottom: 40px;
}

.piechart {
    max-height: 250px;
    height: 100%;
}

.chart {
    max-height: 250px;
    height: 100%;
}

.copy-chart-button {
    background-color: #53a6ff;
    color: #ffffff;
    height: 100%;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    transition: all 0.35s;
}

.admin-dashboard-export-data-button:hover,
.copy-chart-button:hover {
    color: rgb(2, 107, 107);
}


/* Media */

@media (min-width: 1025px) and (max-width: 1440px) {

    .admin-dashboard-label-h2 {
        font-size: 37.5px;
        margin: 20px 0 7.5px 40px;
    }

    .admin-dashboard-label-p {
        font-size: 17.5px;
        margin: 0 0 10px 40px;
    }

    /* Year Selection */

    .year-selection-container {
        height: 40px;
        width: 82.5%;
    }

    .year-selection-label {
        font-size: 12.5px;
    }

    .year-select {
        width: 42.5%;
        height: 40px;
        font-size: 12.5px;
        margin-left: 10px;
    }

    /* Export Button */

    .export-button-container {
        height: 40px;
        width: 17.5%;
    }

    .admin-dashboard-export-data-button {
        height: 40px;
        font-size: 12.5px;
    }

    /* Graphs */

    .reservations-label-h2,
    .userd-label-h2,
    .equipment-label-h2,
    .yearlyrd-label-h2 {
        font-size: 25px;
    }

    .admin-dashboard-charts-container {
        gap: 7.5%;
    }

    .admin-chart-container {
        width: 45%;
    }

    .piechart {
        max-height: 200px;
        height: 100%;
    }

    .chart {
        max-height: 200px;
        height: 100%;
    }

    .copy-chart-button {
        font-size: 12.5px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .admin-dashboard-label-h2 {
        font-size: 35px;
        margin: 20px 0 5px 40px;
    }

    .admin-dashboard-label-p {
        font-size: 15px;
        margin: 0 0 10px 40px;
    }

    /* Year Selection */

    .year-selection-container {
        height: 35px;
        width: 80%;
    }

    .year-selection-label {
        font-size: 10px;
    }

    .year-select {
        width: 40%;
        height: 35px;
        font-size: 10px;
        margin-left: 7.5px;
    }

    /* Export Button */

    .export-button-container {
        height: 35px;
        width: 20%;
    }

    .admin-dashboard-export-data-button {
        height: 35px;
        font-size: 10px;
    }

    /* Graphs */

    .reservations-label-h2,
    .userd-label-h2,
    .equipment-label-h2,
    .yearlyrd-label-h2 {
        font-size: 20px;
    }

    .admin-dashboard-charts-container {
        gap: 2.5%;
    }

    .admin-chart-container {
        width: 47.5%;
    }

    .piechart {
        max-height: 150px;
        height: 100%;
    }

    .chart {
        max-height: 150px;
        height: 100%;
    }

    .copy-chart-button {
        font-size: 10px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .admin-dashboard-container {
        left: 0%;
        width: 100%;
    }

    .admin-dashboard-label-h2 {
        font-size: 35px;
        margin: 20px 0 5px 25px;
    }

    .admin-dashboard-label-p {
        font-size: 15px;
        margin: 0px 0 20px 25px;
    }

    /* Year Selection */

    .year-selection-container {
        height: 35px;
        width: 80%;
    }

    .year-selection-label {
        font-size: 10px;
    }

    .year-select {
        width: 40%;
        height: 35px;
        font-size: 10px;
        margin-left: 7.5px;
    }

    /* Export Button */

    .export-button-container {
        height: 35px;
        width: 20%;
    }

    .admin-dashboard-export-data-button {
        height: 35px;
        font-size: 10px;
    }

    /* Graphs */

    .reservations-label-h2,
    .userd-label-h2,
    .equipment-label-h2,
    .yearlyrd-label-h2 {
        font-size: 20px;
    }

    .admin-dashboard-charts-container {
        gap: 2.5%;
    }

    .admin-chart-container {
        width: 47.5%;
    }

    .piechart {
        max-height: 150px;
        height: 100%;
    }

    .chart {
        max-height: 150px;
        height: 100%;
    }

    .copy-chart-button {
        font-size: 10px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .admin-dashboard-container {
        left: 0%;
        width: 100%;
    }

    .admin-dashboard-label-h2 {
        font-size: 30px;
        margin: 20px 0 2.5px 20px;
    }

    .admin-dashboard-label-p {
        font-size: 12.5px;
        margin: 0 0 20px 20px;
    }

    /* Year Selection */

    .year-selection-container {
        height: 25px;
        width: 77.5%;
    }

    .year-selection-label {
        font-size: 7.5px;
    }

    .year-select {
        width: 40%;
        height: 25px;
        font-size: 7.5px;
        margin-left: 2.5px;
    }

    /* Export Button */

    .export-button-container {
        height: 25px;
        width: 22.5%;
    }

    .admin-dashboard-export-data-button {
        height: 25px;
        font-size: 7.5px;
    }

    /* Graphs */

    .reservations-label-h2,
    .userd-label-h2,
    .equipment-label-h2,
    .yearlyrd-label-h2 {
        font-size: 15px;
    }

    .admin-dashboard-charts-container {
        flex-direction: column;
        gap: 0;
    }

    .admin-chart-container {
        width: 75%;
    }

    .piechart {
        max-height: 100px;
        height: 100%;
    }

    .chart {
        max-height: 100px;
        height: 100%;
    }

    .copy-chart-button {
        font-size: 7.5px;
    }
}
