/* Admin Navbar */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.admin-navbar {
    height: 75px;
    background-color: #25327A;
    z-index: 3;
}

.admin-navbar-details {
    width: 100%;
}

.admin-navbar-left-side {
    height: 70px;
    width: 75%;
}

.admin-iSKed-logo {
    height: 50px;
    width: 50px;
}

.admin-iSKed-name,
.admin-iSKed-name-h4 {
    font-family: 'Sansita', sans-serif;
    font-size: 25px;
}

.admin-hamburger-nav {
    color: white;
}

.admin-navbar-right-side {
    height: 70px;
    width: 25%;
}

.admin-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffcc00;
    color: #25327A;
    font-size: 12.5px;
    margin-right: 10px;
    text-transform: uppercase;
}

.admin-username {
    margin: 0 15px 0 0;
    font-size: 12.5px;
    color: #FFFFFF;
}

.admin-navbar-right-side .admin-sign-out-button {
    font-size: 12.5px;
    color: #FFFFFF;
    height: 40px;
    width: 100px;
    cursor: pointer;
    border-style: none;
    transition: all 0.35s;
}

.admin-sign-out-button:hover {
    color: rgb(2, 107, 107);
}

/* Sidebar */

.admin-sidebar {
    background-color: #000b49;
    position: fixed;
    padding-top: 75px;
    left: -250px;
    width: 250px;
    height: 100%;
    transition: left 0.35s ease-in-out;
    z-index: 2;
}

.admin-sidebar-open {
    left: 0;
}

.admin-sidebar-closed {
    left: -250px;
}

.admin-sidebar .admin-sidebar-links {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}


/* Media */

@media (min-width: 481px) and (max-width: 767px) {

    .admin-navbar-right-side .admin-sign-out-button {
        font-size: 10px;
        height: 35px;
        width: 80px;
    }

    .admin-avatar {
        width: 30px;
        height: 30px;
        font-size: 10px;
        margin-right: 10px;
    }

    .admin-username {
        display: none;
    }

    /* Sidebar */

    .admin-sidebar {
        left: -225px;
        width: 225px;
    }

    .admin-sidebar-open {
        left: 0;
    }

    .admin-sidebar-closed {
        left: -225px;
    }

    .admin-sidebar .admin-sidebar-links {
        font-size: 12.5px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .admin-iSKed-name-h4 {
        font-size: 20px;
    }

    .admin-navbar-right-side .admin-sign-out-button {
        font-size: 7.5px;
        height: 25px;
        width: 60px;
    }

    .admin-avatar {
        width: 25px;
        height: 25px;
        font-size: 7.5px;
        margin-right: 10px;
    }

    .admin-username {
        display: none;
    }

    /* Sidebar */

    .admin-sidebar {
        left: -225px;
        width: 225px;
    }

    .admin-sidebar-open {
        left: 0;
    }

    .admin-sidebar-closed {
        left: -225px;
    }

    .admin-sidebar .admin-sidebar-links {
        font-size: 10px;
    }
}
