@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

/* ____________________________________________________________________________________________________ */
/* Admin Manage Home */
/* ____________________________________________________________________________________________________ */

.admin-home-container {
    position: relative;
    padding-top: 75px;
    left: 22.5%;
    width: 77.5%;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.admin-home-label-h2 {
    font-size: 40px;
    margin: 20px 0 20px 40px;
}

.admin-home-nav-tabs {
    cursor: pointer;
    font-size: 20px;
    margin: 0 0 20px 60px;
    gap: 1in;
    color: #766f6f;
    transition: all 0.35s;
}

.admin-home-nav-tabs li:hover {
    color: #e3dfdf;
}

.admin-home-nav-tabs li.active-tab {
    color: red;
    text-decoration: underline;
    text-decoration-color: #c1c1c1;
    text-underline-offset: 10px;
}

.admin-home-contents-container {
    margin-bottom: 40px;
}

/* Admin Events */

.admin-events-container {
    width: 90%;
    margin: 0 auto;
}

.admin-event-card {
    margin-bottom: 10px;
}

.admin-event-image-container {
    width: 40%;
}

.admin-event-details-container {
    width: 60%;
}

.admin-event-image {
    height: 200px;
    width: 250px;
}

.admin-event-name-title {
    font-size: 20px;
}

.admin-event-text {
    font-size: 17.5px;
}

.event-edit-button {
    margin-right: 10px;
}

.event-edit-button,
.event-delete-button {
    width: 125px;
    height: 50px;
    font-size: 15px;
    border-style: none;
}

/* Admin Spotlights */

.admin-spotlight-container {
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 0.50in;
}

.spotlight-image {
    height: 200px;
}

/* Admin Add Event and Spotlight */

.admin-add-event-details-container,
.admin-add-spotlight-details-container {
    background-color: #c5c1c1;
    width: 90%;
}

.admin-add-event-details-group,
.admin-add-spotlight-details-group {
    margin: 25px 0 25px 0;
    width: 90%;
}

.admin-add-event-form,
.admin-add-spotlight-form {
    width: 100%;
}

.admin-add-event-details-group .admin-add-event-label,
.admin-add-spotlight-details-group .admin-add-spotlight-label {
    font-family: 'Roboto', sans-serif;
    font-size: 17.5px;
}

.admin-add-event-form input[type="text"],
.admin-add-event-form textarea {
    height: 50px;
    border-style: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 0px;
    font-size: 17.5px;
    transition: all 0.35s;
}

.admin-add-event-form input[type="text"]:focus,
.admin-add-event-form textarea:focus {
    outline: 1px solid #007bff;
}

.admin-add-event-button,
.admin-add-spotlight-button {
    background-color: #42BB4E;
    color: #FFFFFF;
    margin-top: 10px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-style: none;
    transition: all 0.35s;
}

.admin-add-event-button:hover,
.admin-add-spotlight-button:hover {
    color: rgb(2, 107, 107);
}

/* Edit Modal */

.edit-event-modal {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #c5c1c1;
}

.edit-event-content {
    margin: 20px 0 20px 0;
}

.admin-edit-event-details-group {
    width: 90%;
    margin: 0 auto;
}

.admin-edit-event-label {
    font-family: 'Roboto', sans-serif;
    font-size: 17.5px;
}

.admin-edit-event-form input[type="text"],
.admin-edit-event-form textarea {
    height: 50px;
    border-style: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 0px;
    font-size: 17.5px;
    transition: all 0.35s;
}

.edit-modal-buttons-container {
    margin-top: 10px;
}

.edit-cancel-button {
    margin-right: 10px;
}


/* Media */

@media (min-width: 1025px) and (max-width: 1440px) {

    .admin-home-label-h2 {
        font-size: 37.5px;
    }

    .admin-home-nav-tabs {
        font-size: 17.5px;
    }

    .admin-event-image {
        height: 170px;
        width: 250px;
    }

    .admin-event-name-title {
        font-size: 17.5px;
    }
    
    .admin-event-text {
        font-size: 15px;
    }

    .admin-spotlight-container {
        gap: 0.40in;
    }

    .spotlight-image {
        height: 150px;
    }

    .admin-add-event-details-group .admin-add-event-label,
    .admin-add-spotlight-details-group .admin-add-spotlight-label {
        font-size: 15px;
    }

    .admin-add-event-form input[type="text"],
    .admin-add-event-form textarea {
        height: 45px;
        font-size: 15px;
    }

    .event-edit-button,
    .event-delete-button {
        width: 100px;
        height: 45px;
        font-size: 12.5px;
    }

    .admin-add-event-button,
    .admin-add-spotlight-button {
        margin-top: 7.5px;
        width: 140px;
        height: 45px;
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .admin-home-label-h2 {
        font-size: 35px;
    }

    .admin-home-nav-tabs {
        font-size: 15px;
        gap: 0.75in;
    }
    
    .admin-event-image {
        height: 150px;
        width: 250px;
    }

    .admin-event-name-title {
        font-size: 15px;
    }
    
    .admin-event-text {
        font-size: 12.5px;
    }

    .admin-spotlight-container {
        gap: 0.30in;
    }

    .spotlight-image {
        height: 125px;
    }

    .admin-add-event-details-group .admin-add-event-label,
    .admin-add-spotlight-details-group .admin-add-spotlight-label {
        font-size: 12.5px;
    }

    .admin-add-event-form input[type="text"],
    .admin-add-event-form textarea {
        height: 40px;
        font-size: 12.5px;
    }

    .event-edit-button {
        margin-right: 7.5px;
    }

    .event-edit-button,
    .event-delete-button {
        width: 75px;
        height: 40px;
        font-size: 10px;
    }

    .admin-add-event-button,
    .admin-add-spotlight-button {
        margin-top: 7.5px;
        width: 130px;
        height: 40px;
        font-size: 12.5px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .admin-home-container {
        left: 0%;
        width: 100%;
    }

    .admin-home-label-h2 {
        font-size: 35px;
        margin: 20px 0 20px 25px;
    }

    .admin-home-nav-tabs {
        font-size: 15px;
        margin: 0 0 20px 40px;
        gap: 0.50in;
    }
    
    .admin-event-image {
        height: 150px;
        width: 250px;
    }

    .admin-event-name-title {
        font-size: 15px;
    }
    
    .admin-event-text {
        font-size: 12.5px;
    }

    .admin-spotlight-container {
        gap: 0.20in;
    }

    .spotlight-image {
        height: 100px;
    }

    .admin-add-event-details-group .admin-add-event-label,
    .admin-add-spotlight-details-group .admin-add-spotlight-label {
        font-size: 12.5px;
    }

    .admin-add-event-form input[type="text"],
    .admin-add-event-form textarea {
        height: 40px;
        font-size: 12.5px;
    }

    .event-edit-button {
        margin-right: 7.5px;
    }

    .event-edit-button,
    .event-delete-button {
        width: 75px;
        height: 40px;
        font-size: 10px;
    }

    .admin-add-event-button,
    .admin-add-spotlight-button {
        margin-top: 7.5px;
        width: 130px;
        height: 40px;
        font-size: 12.5px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .admin-home-container {
        left: 0%;
        width: 100%;
    }

    .admin-home-label-h2 {
        font-size: 30px;
        margin: 20px 0 20px 20px;
    }

    .admin-home-nav-tabs {
        font-size: 12.5px;
        margin: 0 0 20px 30px;
        gap: 0.25in;
    }

    .admin-event-card-details {
        flex-direction: column;
        align-items: center;
    }

    .admin-event-image-container {
        width: 50%;
    }
    
    .admin-event-details-container {
        width: 100%;
    }
    
    .admin-event-image {
        height: 100px;
        width: 250px;
    }
    
    .admin-event-name-title {
        font-size: 12.5px;
    }
    
    .admin-event-text {
        font-size: 10px;
    }

    .admin-spotlight-container {
        gap: 0.10in;
    }

    .spotlight-image {
        height: 75px;
    }

    .admin-add-event-details-group .admin-add-event-label,
    .admin-add-spotlight-details-group .admin-add-spotlight-label {
        font-size: 10px;
    }

    .admin-add-event-form input[type="text"],
    .admin-add-event-form textarea {
        height: 35px;
        font-size: 10px;
    }

    .event-edit-button {
        margin-right: 7.5px;
    }

    .event-edit-button,
    .event-delete-button {
        width: 75px;
        height: 35px;
        font-size: 7.5px;
    }

    .admin-add-event-button,
    .admin-add-spotlight-button {
        margin-top: 5px;
        width: 110px;
        height: 35px;
        font-size: 10px;
    }
}
