/* Admin Equipment Reservation */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

.admin-equipment-reservation-container {
  position: relative;
  padding-top: 75px;
  padding-bottom: 40px;
  left: 22.5%;
  width: 77.5%;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  z-index: 1;
}

.admin-ereservation-label-h2 {
  font-size: 40px;
  margin: 20px 0 20px 40px;
}

/* Search Bar */

.admin-equipment-reservation-search-container {
  width: 90%;
  margin: 0 auto 20px;
}

.admin-equipment-reservation-search-input {
  width: 100%;
  height: 45px;
  font-size: 15px;
  border-style: solid;
  border-width: 1px;
}

.admin-equipment-reservation-search-input:hover {
  color: #FFFFFF;
  background-color: #858585;
}

.admin-equipment-reservation-search-input:focus {
  outline: 1px solid #007bff;
}

/* Table Decision Buttons */

.admin-ereservation-buttons-table-container {
  width: 90%;
  margin: 0 auto 20px;
}

.admin-er-toggle-buttons-container {
  width: 50%;
}

.admin-er-date-toggle-container .er-date-toggle {
  font-size: 15px;
  height: 45px;
}

.admin-er-toggle-buttons-container .admin-er-returned-button,
.admin-er-toggle-buttons-container .admin-er-unreturned-button {
  font-size: 15px;
  height: 45px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Equipment Reservation Table */

.admin-ereservation-contents-container {
  width: 90%;
  margin: 0 auto;
  overflow-x: auto;
}

.admin-ereservation-table-container tr {
  height: 40px;
}

.admin-ereservation-table-container th {
  font-size: 17.5px;
  font-weight: bold;
}

.admin-ereservation-body th,
.admin-ereservation-body td {
  word-wrap: break-word;
}

.admin-ereservation-table-container td {
  font-size: 15px;
}

.admin-ereservation-action-button-container .admin-ereservation-archive-button {
  font-size: 12.5px;
  height: 35px;
  transition: all 0.35s;
}


/* Media */

@media (min-width: 1025px) and (max-width: 1440px) {
  .admin-ereservation-label-h2 {
    font-size: 37.5px;
  }

  /* Search Bar */

  .admin-equipment-reservation-search-input {
    height: 40px;
    font-size: 12.5px;
  }

  /* Table Decision Buttons */

  .admin-er-toggle-buttons-container {
    width: 55%;
  }

  .admin-er-date-toggle-container .er-date-toggle {
    font-size: 12.5px;
    height: 40px;
  }

  .admin-er-toggle-buttons-container .admin-er-returned-button,
  .admin-er-toggle-buttons-container .admin-er-unreturned-button {
    font-size: 12.5px;
    height: 40px;
  }

  /* Equipment Reservation Table */

  .admin-ereservation-table-container tr {
    height: 35px;
  }

  .admin-ereservation-table-container th {
    font-size: 15px;
  }

  .admin-ereservation-table-container td {
    font-size: 12.5px;
  }

  .admin-ereservation-action-button-container .admin-ereservation-archive-button {
    font-size: 10px;
    height: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .admin-ereservation-label-h2 {
    font-size: 35px;
  }

  /* Search Bar */

  .admin-equipment-reservation-search-input {
    height: 35px;
    font-size: 10px;
  }

  /* Table Decision Buttons */

  .admin-er-toggle-buttons-container {
    width: 60%;
  }

  .admin-er-date-toggle-container .er-date-toggle {
    font-size: 10px;
    height: 35px;
  }

  .admin-er-toggle-buttons-container .admin-er-returned-button,
  .admin-er-toggle-buttons-container .admin-er-unreturned-button {
    font-size: 10px;
    height: 35px;
  }

  /* Equipment Reservation Table */

  .admin-ereservation-table-container tr {
    height: 30px;
  }

  .admin-ereservation-table-container th {
    font-size: 12.5px;
  }

  .admin-ereservation-table-container td {
    font-size: 10px;
  }

  .admin-ereservation-action-button-container .admin-ereservation-archive-button {
    font-size: 7.5px;
    height: 25px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .admin-equipment-reservation-container {
    left: 0%;
    width: 100%;
  }

  .admin-ereservation-label-h2 {
    font-size: 35px;
    margin: 20px 0 20px 25px;
  }

  /* Search Bar */

  .admin-equipment-reservation-search-input {
    height: 35px;
    font-size: 10px;
  }

  /* Table Decision Buttons */

  .admin-er-toggle-buttons-container {
    width: 70%;
  }

  .admin-er-date-toggle-container .er-date-toggle {
    font-size: 10px;
    height: 35px;
  }

  .admin-er-toggle-buttons-container .admin-er-returned-button,
  .admin-er-toggle-buttons-container .admin-er-unreturned-button {
    font-size: 10px;
    height: 35px;
  }

  /* Equipment Reservation Table */

  .admin-ereservation-table-container tr {
    height: 30px;
  }

  .admin-ereservation-table-container th {
    font-size: 12.5px;
  }

  .admin-ereservation-table-container td {
    font-size: 10px;
  }

  .admin-ereservation-action-button-container .admin-ereservation-archive-button {
    font-size: 7.5px;
    height: 25px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .admin-equipment-reservation-container {
    left: 0%;
    width: 100%;
  }

  .admin-ereservation-label-h2 {
    font-size: 30px;
    margin: 20px 0 20px 20px;
  }

  /* Search Bar */

  .admin-equipment-reservation-search-input {
    height: 25px;
    font-size: 7.5px;
  }

  /* Table Decision Buttons */

  .admin-er-toggle-buttons-container {
    width: 90%;
  }

  .admin-er-date-toggle-container .er-date-toggle {
    font-size: 7.5px;
    height: 25px;
  }

  .admin-er-toggle-buttons-container .admin-er-returned-button,
  .admin-er-toggle-buttons-container .admin-er-unreturned-button {
    font-size: 7.5px;
    height: 25px;
  }

  /* Equipment Reservation Table */

  .admin-ereservation-table-container tr {
    height: 20px;
  }

  .admin-ereservation-table-container th {
    font-size: 10px;
  }

  .admin-ereservation-table-container td {
    font-size: 7.5px;
  }

  .admin-ereservation-action-button-container .admin-ereservation-archive-button {
    font-size: 5px;
    height: 25px;
  }
}
