/* AdminManageContactUs.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.admin-contact-us-container {
    position: relative;
    top: 75px;
    left: 22.5%;
    width: 77.5%;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.admin-contact-us-label-h2 {
    font-size: 45px;
    margin: 20px 0 20px 40px;
}

.admin-edit-contact-details-back-button {
    margin: 20px 40px 20px 0;
}

.admin-contact-us-contents-container {
    margin-bottom: 40px;
}

.admin-current-contacts-details-container,
.admin-edit-contacts-details-container {
    background-color: #c5c1c1;
    width: 90%;
}

.admin-contacts-details-group,
.admin-edit-contacts-details-group {
    width: 90%;
    margin: 25px 0 25px 0;
}

.admin-current-contact-form,
.admin-edit-contact-form {
    width: 100%;
}

.admin-contacts-details-group .admin-current-contact-label,
.admin-edit-contacts-details-group .admin-edit-contact-label {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.admin-current-contact-form input[type="text"],
.admin-current-contact-form input[type="email"] {
    height: 60px;
    border-style: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    font-size: 20px;
    transition: all 0.35s;
}

.admin-edit-contact-form input[type="text"],
.admin-edit-contact-form input[type="email"] {
    /* height: 50px; */
    height: 60px;
    border-style: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 0;
    font-size: 20px;
    transition: all 0.35s;
}

.admin-current-contact-form input[type="text"]:focus,
.admin-edit-contact-form input[type="text"]:focus,
.admin-edit-contact-form input[type="email"]:focus {
    outline: 1px solid #007bff;
}

.admin-edit-contact-details-back-button {
    background-color: #25327A;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-style: none;
    transition: all 0.35s;
}

.admin-edit-contact-details-button {
    background-color: #25327A;
    color: #FFFFFF;
    margin-top: 10px;
    width: 150px;
    height: 55px;
    font-size: 15px;
    border-style: none;
    transition: all 0.35s;
}

.admin-save-contact-details-button {
    background-color: #42BB4E;
    color: #FFFFFF;
    margin-top: 10px;
    width: 150px;
    height: 55px;
    font-size: 15px;
    border-style: none;
    transition: all 0.35s;
}

.admin-edit-contact-details-back-button:hover,
.admin-edit-contact-details-button:hover,
.admin-save-contact-details-button:hover {
    color: rgb(2, 107, 107);
}

/* Media */

@media (min-width: 1025px) and (max-width: 1440px) {

    .admin-contact-us-label-h2 {
        font-size: 40px;
    }

    .admin-contacts-details-group .admin-current-contact-label,
    .admin-edit-contacts-details-group .admin-edit-contact-label {
        font-size: 20px;
    }

    .admin-current-contact-form input[type="text"],
    .admin-current-contact-form input[type="email"] {
        height: 50px;
        font-size: 20px;
    }

    .admin-edit-contact-form input[type="text"],
    .admin-edit-contact-form input[type="email"] {
        height: 50px;
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    
    .admin-contact-us-label-h2 {
        font-size: 35px;
    }

    .admin-contacts-details-group .admin-current-contact-label,
    .admin-edit-contacts-details-group .admin-edit-contact-label {
        font-size: 17.5px;
    }

    .admin-current-contact-form input[type="text"],
    .admin-current-contact-form input[type="email"] {
        height: 45px;
        font-size: 17.5px;
    }

    .admin-edit-contact-form input[type="text"],
    .admin-edit-contact-form input[type="email"] {
        height: 45px;
        font-size: 17.5px;
    }

    .admin-edit-contact-details-back-button {
        width: 90px;
        height: 37.5px;
        font-size: 12.5px;
    }
    
    .admin-edit-contact-details-button {
        width: 125px;
        height: 50px;
        font-size: 12.5px;
    }
    
    .admin-save-contact-details-button {
        width: 125px;
        height: 50px;
        font-size: 12.5px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .admin-contact-us-container {
        left: 0;
        width: 100%;
    }

    .admin-contact-us-label-h2 {
        font-size: 30px;
        margin: 20px 0 20px 25px;
    }
    
    .admin-edit-contact-details-back-button {
        margin: 20px 25px 20px 0;
    }

    .admin-contacts-details-group .admin-current-contact-label,
    .admin-edit-contacts-details-group .admin-edit-contact-label {
        font-size: 15px;
    }

    .admin-current-contact-form input[type="text"],
    .admin-current-contact-form input[type="email"] {
        height: 40px;
        font-size: 12.5px;
    }

    .admin-edit-contact-form input[type="text"],
    .admin-edit-contact-form input[type="email"] {
        height: 40px;
        font-size: 12.5px;
    }

    .admin-edit-contact-details-back-button {
        width: 75px;
        height: 35px;
        font-size: 10px;
    }
    
    .admin-edit-contact-details-button {
        width: 100px;
        height: 45px;
        font-size: 10px;
    }
    
    .admin-save-contact-details-button {
        width: 100px;
        height: 45px;
        font-size: 10px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .admin-contact-us-container {
        left: 0;
        width: 100%;
    }

    .admin-contact-us-label-h2 {
        font-size: 25px;
        margin: 20px 0 20px 20px;
    }
    
    .admin-edit-contact-details-back-button {
        margin: 20px 20px 20px 0;
    }

    .admin-contacts-details-group .admin-current-contact-label,
    .admin-edit-contacts-details-group .admin-edit-contact-label {
        font-size: 12.5px;
    }

    .admin-current-contact-form input[type="text"],
    .admin-current-contact-form input[type="email"] {
        height: 30px;
        font-size: 10px;
    }

    .admin-edit-contact-form input[type="text"],
    .admin-edit-contact-form input[type="email"] {
        height: 30px;
        font-size: 10px;
    }

    .admin-edit-contact-details-back-button {
        width: 75px;
        height: 35px;
        font-size: 10px;
    }
    
    .admin-edit-contact-details-button {
        width: 100px;
        height: 45px;
        font-size: 10px;
    }
    
    .admin-save-contact-details-button {
        width: 100px;
        height: 45px;
        font-size: 10px;
    }
}
