/* Admin CSS file */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

/* ____________________________________________________________________________________________________ */
/* User Authentication */
/* ____________________________________________________________________________________________________ */




/* ____________________________________________________________________________________________________ */
/* Admin Navbar */
/* ____________________________________________________________________________________________________ */

.admin-navbar {
    height: 75px;
    background-color: #25327A;
    z-index: 3;
}

.admin-navbar-details {
    width: 100%;
}

.admin-iSKed-logo {
    height: 50px;
    width: 50px;
}

.admin-iSKed-name,
.admin-iSKed-name-h4 {
    font-family: 'Sansita', sans-serif;
}

.admin-hamburger-nav {
    color: white;
}

.admin-sign-out-button {
    font-size: 15px;
    color: #FFFFFF;
    height: 45px;
    width: 100px;
    cursor: pointer;
    border-style: none;
    transition: all 0.35s;
}

.admin-sign-out-button:hover {
    color: rgb(2, 107, 107);
}

/* Sidebar */

.admin-sidebar {
    background-color: #000b49;
    position: fixed;
    padding-top: 75px;
    left: -250px;
    width: 250px;
    height: 100%;
    transition: left 0.35s ease-in-out;
    z-index: 2;
}

.admin-sidebar-open {
    left: 0;
}

.admin-sidebar-closed {
    left: -250px;
}

.admin-sidebar .admin-sidebar-links {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}


/* Media */

@media (min-width: 481px) and (max-width: 767px) {

    .admin-sign-out-button {
        font-size: 12.5px;
        height: 42.5px;
        width: 90px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .admin-iSKed-name-h4 {
        font-size: 17.5px;
    }

    .admin-sign-out-button {
        font-size: 10px;
        height: 40px;
        width: 80px;
    }

    /* Sidebar */

    .admin-sidebar {
        left: -225px;
        width: 225px;
    }

    .admin-sidebar-open {
        left: 0;
    }

    .admin-sidebar-closed {
        left: -225px;
    }

    .admin-sidebar .admin-sidebar-links {
        font-size: 12.5px;
    }
}


/* ____________________________________________________________________________________________________ */
/* Admin Home */
/* ____________________________________________________________________________________________________ */

.admin-dashboard-container {
    position: relative;
    padding-top: 75px;
    left: 22.5%;
    width: 77.5%;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.admin-dashboard-label-h2 {
    font-size: 40px;
    margin: 20px 0 10px 40px;
}

.reservations-label-h2,
.users-label-h2,
.equipment-label-h2,
.sm-label-h2 {
    font-size: 30px;
}

.admin-dashboard-label-p {
    font-size: 20px;
    margin: 0 0 10px 40px;
}

.admin-dashboard-filters-container {
    margin: 0 auto 10px;
    width: 90%;
}

.month-dropdown,
.year-dropdown {
    height: 50px;
    gap: 0.10in;
    font-size: 20px;
}

#year,
#month {
    width: 250px;
    height: 40px;
}

.month-classification,
.year-classification {
    font-size: 17.5px;
    border-style: solid;
    transition: all 0.35s;
}

.month-classification:hover,
.year-classification:hover {
    color: #FFFFFF;
    background-color: #858585;
}

.month-classification:focus,
.year-classification:focus {
    outline: 1px solid #007bff;
}

.month-classification option,
.year-classification option {
    background-color: #FFFFFF;
    color: #000000;
    pointer-events: none;
}

.admin-dashboard-charts-section {
    margin: 0 auto;
    width: 90%;
}

.reservations-users-container {
    width: 100%;
    margin-bottom: 20px;
    background-color: orange;
}

.reservations-chart-container,
.users-chart-container {
    width: 45%;
    /* gap: 0.25in; */
}

.equipment-chart-container {
    width: 100%;
    margin: 0 auto;
    background-color: orange;
}

.dashboard-summary-table-container {
    width: 90%;
    margin: 20px auto;
}

.dashboard-summary-table tr {
    height: 35px;
}

.admin-summary-table-head th {
    font-size: 17.5px;
    font-weight: bold;
}

.admin-summary-table-body td {
    font-size: 17.5px;
}

.dashboard-summary-table {
    width: 100%;
    margin-bottom: 40px;
}


/* Media */

@media (min-width: 1025px) and (max-width: 1440px) {

    .admin-dashboard-label-h2 {
        font-size: 37.5px;
    }

    .reservations-label-h2,
    .users-label-h2,
    .equipment-label-h2,
    .sm-label-h2 {
        font-size: 27.5px;
    }

    .admin-dashboard-label-p {
        font-size: 17.5px;
    }

    .month-dropdown,
    .year-dropdown {
        height: 50px;
        gap: 0.10in;
        font-size: 17.5px;
    }

    .dashboard-summary-table tr {
        height: 32.5px;
    }

    .admin-summary-table-head th {
        font-size: 15px;
    }

    .admin-summary-table-body td {
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .admin-dashboard-label-h2 {
        font-size: 35px;
    }

    .reservations-label-h2,
    .users-label-h2,
    .equipment-label-h2,
    .sm-label-h2 {
        font-size: 25px;
    }

    .admin-dashboard-label-p {
        font-size: 15px;
    }

    .month-dropdown,
    .year-dropdown {
        height: 45px;
        gap: 0.075in;
        font-size: 15px;
    }

    #year,
    #month {
        width: 250px;
        height: 35px;
    }

    .month-classification,
    .year-classification {
        font-size: 15px;
    }

    .dashboard-summary-table tr {
        height: 30px;
    }

    .admin-summary-table-head th {
        font-size: 12.5px;
    }

    .admin-summary-table-body td {
        font-size: 12.5px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .admin-dashboard-container {
        left: 0%;
        width: 100%;
    }

    .admin-dashboard-label-h2 {
        font-size: 35px;
        margin: 20px 0 15px 25px;
    }

    .reservations-label-h2,
    .users-label-h2,
    .equipment-label-h2,
    .sm-label-h2 {
        font-size: 22.5px;
    }

    .admin-dashboard-label-p {
        font-size: 15px;
        margin: 0 0 20px 25px;
    }

    .month-dropdown,
    .year-dropdown {
        height: 40px;
        gap: 0.075in;
        font-size: 12.5px;
    }

    #year,
    #month {
        width: 225px;
        height: 30px;
    }

    .month-classification,
    .year-classification {
        font-size: 12.5px;
    }

    .dashboard-summary-table tr {
        height: 30px;
    }

    .admin-summary-table-head th {
        font-size: 10px;
    }

    .admin-summary-table-body td {
        font-size: 10px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .admin-dashboard-container {
        left: 0%;
        width: 100%;
    }

    .admin-dashboard-label-h2 {
        font-size: 30px;
        margin: 20px 0 10px 20px;
    }

    .reservations-label-h2,
    .users-label-h2,
    .equipment-label-h2,
    .sm-label-h2 {
        font-size: 20px;
    }

    .admin-dashboard-label-p {
        font-size: 12.5px;
        margin: 0 0 20px 20px;
    }

    .month-dropdown,
    .year-dropdown {
        height: 35px;
        gap: 0.050in;
        font-size: 10px;
    }

    #year,
    #month {
        width: 200px;
        height: 25px;
    }

    .month-classification,
    .year-classification {
        font-size: 10px;
    }

    .dashboard-summary-table tr {
        height: 22.5px;
    }

    .admin-summary-table-head th {
        font-size: 10px;
    }

    .admin-summary-table-body td {
        font-size: 10px;
    }
}


/* ____________________________________________________________________________________________________ */
/* Admin Manage Home */
/* ____________________________________________________________________________________________________ */

.admin-home-container {
    position: relative;
    padding-top: 75px;
    left: 22.5%;
    width: 77.5%;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.admin-home-label-h2 {
    font-size: 40px;
    margin: 20px 40px 20px 40px;
}

.admin-home-nav-tabs {
    cursor: pointer;
    font-size: 25px;
    margin: 0 0 20px 60px;
    gap: 1in;
    color: #766F6F;
    transition: all 0.35s;
}

.admin-home-nav-tabs li:hover {
    color: #E3DFDF;
}

.admin-home-nav-tabs li.active-tab {
    color: red;
    text-decoration: underline;
    text-decoration-color: #C1C1C1;
    text-underline-offset: 10px;
}

.admin-home-contents-container {
    margin-bottom: 40px;
}

.admin-all-event-details-container {
    width: 100%;
}

.admin-add-event-details-container {
    background-color: #c5c1c1;
    width: 90%;
}

.admin-add-event-details-group {
    width: 90%;
    margin: 25px 0 25px 0;
}

.admin-event-item {
    background-color: #c5c1c1;
    width: 100%;
    margin-bottom: 20px;
}

.home-event-image {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home-event-details {
    margin-top: 20px;
    width: 60%;
}

.event-name {
    font-size: 35px;
}

.event-description {
    font-size: 25px;
}

.admin-add-event-form {
    width: 100%;
}

.admin-all-event-details-group {
    width: 90%;
}

.admin-add-event-details-group .admin-add-event-label {
    font-family: 'Roboto', sans-serif;
    font-size: 17.5px;
}

.admin-add-event-form input[type="text"],
.admin-add-event-form textarea {
    height: 50px;
    border-style: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    font-size: 17.5px;
    transition: all 0.35s;
}

.admin-add-event-form input[type="text"]:focus,
.admin-add-event-form textarea:focus {
    outline: 1px solid #007bff;
}

.admin-add-event-button {
    background-color: #42BB4E;
    color: #FFFFFF;
    margin-top: 10px;
    width: 150px;
    height: 55px;
    font-size: 15px;
    border-style: none;
    transition: all 0.35s;
}

.admin-delete-event-button {
    background-color: #E1D142;
    color: #000000;
    margin-bottom: 20px;
    width: 125px;
    height: 55px;
    font-size: 15px;
    border-style: none;
    transition: all 0.35s;
}

.admin-delete-event-button:hover,
.admin-add-event-button:hover {
    color: rgb(2, 107, 107);
}


/* Media */

@media (min-width: 1025px) and (max-width: 1440px) {

    .admin-home-label-h2 {
        font-size: 37.5px;
    }

    .admin-add-event-details-group .admin-add-event-label {
        font-size: 15px;
    }

    .admin-home-nav-tabs {
        font-size: 22.5px;
        margin: 0 0 20px 45px;
        gap: 0.75in;
    }

    .event-name {
        font-size: 30px;
    }

    .event-description {
        font-size: 20px;
    }

    .admin-add-event-form input[type="text"],
    .admin-add-event-form textarea {
        height: 50px;
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .admin-home-label-h2 {
        font-size: 35px;
    }

    .admin-add-event-details-group .admin-add-event-label {
        font-size: 17.5px;
    }

    .admin-home-nav-tabs {
        font-size: 20px;
        margin: 0 0 20px 45px;
        gap: 1in;
    }

    .event-name {
        font-size: 25px;
    }

    .event-description {
        font-size: 15px;
    }

    .admin-delete-event-button {
        width: 125px;
        height: 47.5px;
        font-size: 13px;
    }

    .admin-add-event-form input[type="text"],
    .admin-add-event-form textarea {
        height: 45px;
        font-size: 17.5px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .admin-home-container {
        left: 0;
        width: 100%;
    }

    .admin-home-label-h2 {
        font-size: 35px;
        margin: 20px 0 20px 25px;
    }

    .admin-home-nav-tabs {
        font-size: 17.5px;
        margin: 0 0 20px 45px;
        gap: 0.5in;
    }

    .event-name {
        font-size: 25px;
    }

    .event-description {
        font-size: 15px;
    }

    .admin-delete-event-button {
        width: 125px;
        height: 45px;
        font-size: 12.5px;
    }

    .admin-add-event-details-group .admin-add-event-label {
        font-size: 15px;
    }

    .admin-add-event-form input[type="text"],
    .admin-add-event-form textarea {
        height: 45px;
        font-size: 12.5px;
    }

    .admin-add-event-button {
        width: 150px;
        height: 50px;
        font-size: 12.5px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .admin-home-container {
        left: 0;
        width: 100%;
    }

    .admin-home-label-h2 {
        font-size: 30px;
        margin: 20px 0 20px 20px;
    }

    .admin-home-nav-tabs {
        font-size: 15px;
        margin: 0 0 20px 40px;
        gap: 0.5in;
    }

    .admin-event-item {
        flex-direction: column;
        align-items: center;
    }

    .home-event-image {
        width: 90%;
    }

    .home-event-details {
        width: 90%;
        align-items: center;
    }

    .event-name {
        font-size: 20px;
    }

    .event-description {
        font-size: 12.5px;
    }

    .admin-delete-event-button {
        width: 100px;
        height: 40px;
        font-size: 10px;
    }

    .admin-add-event-details-group .admin-add-event-label {
        font-size: 12.5px;
    }

    .admin-add-event-form input[type="text"],
    .admin-add-event-form textarea {
        height: 45px;
        font-size: 10px;
    }

    .admin-add-event-button {
        width: 125px;
        height: 50px;
        font-size: 10px;
    }
}


/* ____________________________________________________________________________________________________ */
/* Admin Manage Contact Us */
/* ____________________________________________________________________________________________________ */

.admin-contact-us-container {
    position: relative;
    padding-top: 75px;
    left: 22.5%;
    width: 77.5%;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.admin-contact-us-label-h2 {
    font-size: 40px;
    margin: 20px 0 20px 40px;
}

.admin-edit-contact-details-back-button {
    margin: 20px 40px 20px 0;
}

.admin-contact-us-contents-container {
    margin-bottom: 40px;
}

.admin-current-contacts-details-container,
.admin-edit-contacts-details-container {
    background-color: #c5c1c1;
    width: 90%;
}

.admin-contacts-details-group,
.admin-edit-contacts-details-group {
    width: 90%;
    margin: 25px 0 25px 0;
}

.admin-current-contact-form,
.admin-edit-contact-form {
    width: 100%;
}

.admin-contacts-details-group .admin-current-contact-label,
.admin-edit-contacts-details-group .admin-edit-contact-label {
    font-family: 'Roboto', sans-serif;
    font-size: 17.5px;
}

.admin-current-contact-form input[type="text"],
.admin-current-contact-form input[type="email"] {
    height: 50px;
    border-style: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    font-size: 17.5px;
    transition: all 0.35s;
}

.admin-edit-contact-form input[type="text"],
.admin-edit-contact-form input[type="email"] {
    height: 50px;
    border-style: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 0;
    font-size: 17.5px;
    transition: all 0.35s;
}

.admin-current-contact-form input[type="text"]:focus,
.admin-edit-contact-form input[type="text"]:focus,
.admin-edit-contact-form input[type="email"]:focus {
    outline: 1px solid #007bff;
}

.admin-edit-contact-details-back-button {
    background-color: #25327A;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-style: none;
    transition: all 0.35s;
}

.admin-edit-contact-details-button {
    background-color: #25327A;
    color: #FFFFFF;
    margin-top: 10px;
    width: 150px;
    height: 55px;
    font-size: 15px;
    border-style: none;
    transition: all 0.35s;
}

.admin-save-contact-details-button {
    background-color: #42BB4E;
    color: #FFFFFF;
    margin-top: 10px;
    width: 150px;
    height: 55px;
    font-size: 15px;
    border-style: none;
    transition: all 0.35s;
}

.admin-edit-contact-details-back-button:hover,
.admin-edit-contact-details-button:hover,
.admin-save-contact-details-button:hover {
    color: rgb(2, 107, 107);
}

/* Media */

@media (min-width: 1025px) and (max-width: 1440px) {

    .admin-contact-us-label-h2 {
        font-size: 37.5px;
    }

    .admin-contacts-details-group .admin-current-contact-label,
    .admin-edit-contacts-details-group .admin-edit-contact-label {
        font-size: 15px;
    }

    .admin-current-contact-form input[type="text"],
    .admin-current-contact-form input[type="email"] {
        height: 45px;
        font-size: 15px;
    }

    .admin-edit-contact-form input[type="text"],
    .admin-edit-contact-form input[type="email"] {
        height: 45px;
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    
    .admin-contact-us-label-h2 {
        font-size: 35px;
    }

    .admin-contacts-details-group .admin-current-contact-label,
    .admin-edit-contacts-details-group .admin-edit-contact-label {
        font-size: 12.5px;
    }

    .admin-current-contact-form input[type="text"],
    .admin-current-contact-form input[type="email"] {
        height: 40px;
        font-size: 12.5px;
    }

    .admin-edit-contact-form input[type="text"],
    .admin-edit-contact-form input[type="email"] {
        height: 40px;
        font-size: 12.5px;
    }

    .admin-edit-contact-details-back-button {
        width: 90px;
        height: 37.5px;
        font-size: 12.5px;
    }
    
    .admin-edit-contact-details-button {
        width: 125px;
        height: 50px;
        font-size: 12.5px;
    }
    
    .admin-save-contact-details-button {
        width: 125px;
        height: 50px;
        font-size: 12.5px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .admin-contact-us-container {
        left: 0;
        width: 100%;
    }

    .admin-contact-us-label-h2 {
        font-size: 35px;
        margin: 20px 0 20px 25px;
    }
    
    .admin-edit-contact-details-back-button {
        margin: 20px 25px 20px 0;
    }

    .admin-contacts-details-group .admin-current-contact-label,
    .admin-edit-contacts-details-group .admin-edit-contact-label {
        font-size: 12.5px;
    }

    .admin-current-contact-form input[type="text"],
    .admin-current-contact-form input[type="email"] {
        height: 40px;
        font-size: 12.5px;
    }

    .admin-edit-contact-form input[type="text"],
    .admin-edit-contact-form input[type="email"] {
        height: 40px;
        font-size: 12.5px;
    }

    .admin-edit-contact-details-back-button {
        width: 75px;
        height: 35px;
        font-size: 10px;
    }
    
    .admin-edit-contact-details-button {
        width: 100px;
        height: 45px;
        font-size: 10px;
    }
    
    .admin-save-contact-details-button {
        width: 100px;
        height: 45px;
        font-size: 10px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .admin-contact-us-container {
        left: 0;
        width: 100%;
    }

    .admin-contact-us-label-h2 {
        font-size: 30px;
        margin: 20px 0 20px 20px;
    }
    
    .admin-edit-contact-details-back-button {
        margin: 20px 20px 20px 0;
    }

    .admin-contacts-details-group .admin-current-contact-label,
    .admin-edit-contacts-details-group .admin-edit-contact-label {
        font-size: 10px;
    }

    .admin-current-contact-form input[type="text"],
    .admin-current-contact-form input[type="email"] {
        height: 35px;
        font-size: 10px;
    }

    .admin-edit-contact-form input[type="text"],
    .admin-edit-contact-form input[type="email"] {
        height: 35px;
        font-size: 10px;
    }

    .admin-edit-contact-details-back-button {
        width: 75px;
        height: 35px;
        font-size: 10px;
    }
    
    .admin-edit-contact-details-button {
        width: 100px;
        height: 45px;
        font-size: 10px;
    }
    
    .admin-save-contact-details-button {
        width: 100px;
        height: 45px;
        font-size: 10px;
    }
}


/* ____________________________________________________________________________________________________ */
/* Admin Inventory */
/* ____________________________________________________________________________________________________ */

.admin-inventory-container {
    position: relative;
    padding-top: 75px;
    left: 22.5%;
    width: 77.5%;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.admin-inventory-label-h2 {
    font-size: 40px;
    margin: 20px 0 20px 40px;
}

.admin-inventory-contents-container {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 40px;
}

.admin-inventory-head th {
    font-size: 20px;
    font-weight: bold;
}

.admin-inventory-body td {
    font-size: 17.5px;
}

.admin-inventory-add-equipment-container {
    width: 90%;
    margin: 0 auto 20px;
}

.admin-inventory-add-equipment-button {
    background-color: #42BB4E;
    color: #FFFFFF;
    width: 15%;
    height: 50px;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    transition: all 0.35s;
}

.admin-inventory-add-equipment-button:hover {
    color: rgb(2, 107, 107);
}

.admin-inventory-save-add-button-container .admin-inventory-save-add-button {
    margin: 10px 0 10px 0;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-style: none;
}

.admin-inventory-actions-buttons-container .admin-inventory-edit-button {
    margin-right: 10px;
}

.admin-inventory-actions-buttons-container .admin-inventory-edit-button,
.admin-inventory-actions-buttons-container .admin-inventory-delete-button {
    font-size: 15px;
    width: 80px;
    height: 40px;
    transition: all 0.35s;
}

.admin-inventory-modal-container .modal-dialog {
    width: 500px;
}

.admin-inventory-modal-body {
    background-color: #c5c1c1;
}

.admin-inventory-form-group {
    width: 90%;
}

.admin-inventory-form-label {
    font-family: 'Roboto', sans-serif;
    font-size: 17.5px;
}

.admin-inventory-form-group .admin-inventory-form {
    height: 50px;
    font-size: 17.5px;
}


/* Media */

@media (min-width: 1025px) and (max-width: 1440px) {

    .admin-inventory-label-h2 {
        font-size: 37.5px;
    }

    .admin-inventory-head th {
        font-size: 17.5px;
    }

    .admin-inventory-body td {
        font-size: 15px;
    }

    .admin-inventory-add-equipment-button {
        width: 17.5%;
    }

    .admin-inventory-actions-buttons-container .admin-inventory-edit-button,
    .admin-inventory-actions-buttons-container .admin-inventory-delete-button {
        font-size: 12.5px;
    }

    .admin-inventory-form-label {
        font-size: 15px;
    }

    .admin-inventory-form-group .admin-inventory-form {
        height: 45px;
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .admin-inventory-label-h2 {
        font-size: 35px;
    }

    .admin-inventory-head th {
        font-size: 15px;
    }

    .admin-inventory-body td {
        font-size: 12.5px;
    }
    
    .admin-inventory-add-equipment-button {
        width: 20%;
        height: 45px;
        font-size: 12.5px;
    }

    .admin-inventory-save-add-button-container .admin-inventory-save-add-button {
        width: 150px;
        height: 50px;
        font-size: 12.5px;
    }

    .admin-inventory-actions-buttons-container .admin-inventory-edit-button {
        margin-right: 5px;
    }

    .admin-inventory-actions-buttons-container .admin-inventory-edit-button,
    .admin-inventory-actions-buttons-container .admin-inventory-delete-button {
        font-size: 10px;
        width: 60px;
        height: 37.5px;
    }

    .admin-inventory-form-label {
        font-size: 12.5px;
    }

    .admin-inventory-form-group .admin-inventory-form {
        height: 40px;
        font-size: 12.5px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .admin-inventory-container {
        left: 0%;
        width: 100%;
    }

    .admin-inventory-label-h2 {
        font-size: 35px;
        margin: 20px 0 20px 25px;
    }

    .admin-inventory-head th {
        font-size: 15px;
    }

    .admin-inventory-body td {
        font-size: 12.5px;
    }

    .admin-inventory-add-equipment-button {
        width: 22.5%;
        height: 45px;
        font-size: 12.5px;
    }

    .admin-inventory-save-add-button-container .admin-inventory-save-add-button {
        width: 125px;
        height: 45px;
        font-size: 12.5px;
    }

    .admin-inventory-actions-buttons-container {
        flex-direction: column;
        align-items: center;
    }

    .admin-inventory-actions-buttons-container .admin-inventory-edit-button {
        margin-right: 0;
        margin-bottom: 2.5px;
    }

    .admin-inventory-actions-buttons-container .admin-inventory-edit-button,
    .admin-inventory-actions-buttons-container .admin-inventory-delete-button {
        font-size: 10px;
        width: 60px;
        height: 35px;
    }

    .admin-inventory-form-label {
        font-size: 12.5px;
    }

    .admin-inventory-form-group .admin-inventory-form {
        height: 40px;
        font-size: 12.5px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .admin-inventory-container {
        left: 0%;
        width: 100%;
    }

    .admin-inventory-label-h2 {
        font-size: 30px;
        margin: 20px 0 20px 20px;
    }

    .admin-inventory-head th {
        font-size: 12.5px;
    }

    .admin-inventory-body td {
        font-size: 10px;
    }

    .admin-inventory-add-equipment-button {
        width: 25%;
        height: 35px;
        font-size: 10px;
    }

    .admin-inventory-save-add-button-container .admin-inventory-save-add-button {
        width: 125px;
        height: 40px;
        font-size: 12.5px;
    }

    .admin-inventory-actions-buttons-container {
        flex-direction: column;
        align-items: center;
    }

    .admin-inventory-actions-buttons-container .admin-inventory-edit-button {
        margin-right: 0;
        margin-bottom: 2.5px;
    }

    .admin-inventory-actions-buttons-container .admin-inventory-edit-button,
    .admin-inventory-actions-buttons-container .admin-inventory-delete-button {
        font-size: 7.5px;
        width: 45px;
        height: 30px;
    }

    .admin-inventory-form-label {
        font-size: 10px;
    }

    .admin-inventory-form-group .admin-inventory-form {
        height: 35px;
        font-size: 10px;
    }
}











/* ____________________________________________________________________________________________________ */
/* Admin Users */
/* ____________________________________________________________________________________________________ */

/* Users.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.admin-users-container {
    position: relative;
    padding-top: 75px;
    left: 22.5%;
    width: 77.5%;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.admin-users-label-h2 {
    font-size: 40px;
    margin: 20px 0 20px 40px;
}

.admin-users-contents-container {
    width: 100%;
    margin-bottom: 40px;
}

.admin-users-add-classification-container {
    width: 90%;
    gap: 0.25in;
    margin-bottom: 20px;
}

.admin-users-classification-container {
    width: 90%;
}

.admin-users-classification {
    width: 100%;
    height: 50px;
    font-size: 17.5px;
    border-style: solid;
    transition: all 0.35s;
}

.admin-users-classification:hover {
    color: #FFFFFF;
    background-color: #858585;
}

.admin-users-classification:focus {
    outline: 1px solid #007bff;
}

.admin-users-classification option {
    background-color: #FFFFFF;
    color: #000000;
    pointer-events: none;
}

.admin-users-add-user-container {
    width: 10%;
}

.admin-users-add-user-button {
    background-color: #42BB4E;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    transition: all 0.35s;
}

.admin-users-add-user-button:hover {
    color: rgb(2, 107, 107);
}

.users-list-container {
    width: 90%;
}

.admin-users-head th {
    font-size: 17.5px;
    font-weight: bold;
}

.admin-users-body td {
    font-size: 17.5px;
}

.admin-users-actions-buttons-container .admin-users-view-button,
.admin-users-actions-buttons-container .admin-users-edit-button {
    margin-right: 10px;
}

.admin-users-actions-buttons-container .admin-users-view-button,
.admin-users-actions-buttons-container .admin-users-edit-button,
.admin-users-actions-buttons-container .admin-users-delete-button {
    font-size: 15px;
    width: 75px;
    height: 35px;
    transition: all 0.35s;
}




.admin-users-add-edit-modal {
    padding-top: 75px;
}

.admin-users-form {
    width: 90%;
}

.admin-users-add-edit-details-group .admin-users-modal-label {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.admin-users-form input[type="text"],
.admin-users-form input[type="sex"],
.admin-users-form input[type="number"],
.admin-users-form input[type="date"],
.admin-users-form input[type="email"],
.admin-users-form select {
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    transition: all 0.35s;
}

.admin-users-group1-form-container,
.admin-users-group2-form-container,
.admin-users-group3-form-container, 
.admin-users-group4-form-container,
.admin-users-group5-form-container, 
.admin-users-group6-form-container, 
.admin-users-group7-form-container {
    width: 90%;
    gap: 10px;
}


/* Media */

@media (min-width: 1025px) and (max-width: 1440px) {

    .admin-users-label-h2 {
        font-size: 37.5px;
    }
    
    .admin-users-classification-container {
        width: 87.5%;
    }

    .admin-users-add-user-container {
        width: 12.5%;
    }
    
    .admin-users-add-user-button {
        height: 50px;
        font-size: 15px;
    }

    .admin-users-head th {
        font-size: 15px;
    }

    .admin-users-body td {
        font-size: 15px;
    }

    .admin-users-actions-buttons-container .admin-users-view-button,
    .admin-users-actions-buttons-container .admin-users-edit-button,
    .admin-users-actions-buttons-container .admin-users-delete-button {
        font-size: 12.5px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .admin-users-label-h2 {
        font-size: 35px;
    }

    .admin-users-classification-container {
        width: 85%;
    }
    
    .admin-users-classification {
        height: 45px;
        font-size: 12.5px;
    }

    .admin-users-add-user-container {
        width: 15%;
    }
    
    .admin-users-add-user-button {
        height: 45px;
        font-size: 12.5px;
    }

    .admin-users-head th {
        font-size: 12.5px;
    }

    .admin-users-body td {
        font-size: 12.5px;
    }

    .admin-users-actions-buttons-container .admin-users-view-button,
    .admin-users-actions-buttons-container .admin-users-edit-button {
        margin-right: 5px;
    }

    .admin-users-actions-buttons-container .admin-users-view-button,
    .admin-users-actions-buttons-container .admin-users-edit-button,
    .admin-users-actions-buttons-container .admin-users-delete-button {
        font-size: 10px;
        width: 55px;
        height: 32.5px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .admin-users-container {
        left: 0%;
        width: 100%;
    }

    .admin-users-label-h2 {
        font-size: 35px;
        margin: 20px 0 20px 25px;
    }

    .admin-users-classification-container {
        width: 82.5%;
    }
    
    .admin-users-classification {
        height: 45px;
        font-size: 12.5px;
    }

    .admin-users-add-user-container {
        width: 17.5%;
    }
    
    .admin-users-add-user-button {
        height: 45px;
        font-size: 12.5px;
    }

    .admin-users-head th {
        font-size: 10px;
    }

    .admin-users-body td {
        font-size: 10px;
    }

    .admin-users-actions-buttons-container {
        flex-direction: column;
        align-items: center;
    }

    .admin-users-actions-buttons-container .admin-users-view-button,
    .admin-users-actions-buttons-container .admin-users-edit-button {
        margin-right: 0;
        margin-bottom: 2.5px;
    }

    .admin-users-actions-buttons-container .admin-users-view-button,
    .admin-users-actions-buttons-container .admin-users-edit-button,
    .admin-users-actions-buttons-container .admin-users-delete-button {
        font-size: 10px;
        width: 55px;
        height: 30px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .admin-users-container {
        left: 0%;
        width: 100%;
    }

    .admin-users-label-h2 {
        font-size: 30px;
        margin: 20px 0 20px 20px;
    }

    .admin-users-classification-container {
        width: 80%;
    }
    
    .admin-users-classification {
        height: 35px;
        font-size: 10px;
    }

    .admin-users-add-user-container {
        width: 20%;
    }
    
    .admin-users-add-user-button {
        height: 35px;
        font-size: 10px;
    }

    .admin-users-head th {
        font-size: 7.5px;
    }

    .admin-users-body td {
        font-size: 7.5px;
    }

    .admin-users-actions-buttons-container {
        flex-direction: column;
        align-items: center;
    }

    .admin-users-actions-buttons-container .admin-users-view-button,
    .admin-users-actions-buttons-container .admin-users-edit-button {
        margin-right: 0;
        margin-bottom: 2.5px;
    }

    .admin-users-actions-buttons-container .admin-users-view-button,
    .admin-users-actions-buttons-container .admin-users-edit-button,
    .admin-users-actions-buttons-container .admin-users-delete-button {
        font-size: 7.5px;
        width: 40px;
        height: 25px;
    }
}
