@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

/* ____________________________________________________________________________________________________ */
/* Admin Manage Home */
/* ____________________________________________________________________________________________________ */

.admin-home-container {
  position: relative;
  padding-top: 75px;
  left: 22.5%;
  width: 77.5%;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  z-index: 1;
}

.admin-home-label-h2 {
  font-size: 40px;
  margin: 20px 0 20px 40px;
}

.admin-home-nav-tabs {
  cursor: pointer;
  font-size: 20px;
  margin: 0 0 20px 60px;
  gap: 1in;
  color: #766f6f;
  transition: all 0.35s;
}

.admin-home-nav-tabs li:hover {
  color: #e3dfdf;
}

.admin-home-nav-tabs li.active-tab {
  color: red;
  text-decoration: underline;
  text-decoration-color: #c1c1c1;
  text-underline-offset: 10px;
}

.admin-home-contents-container {
  margin-bottom: 40px;
}

/* Admin All Events */

.admin-events-details-container {
  width: 90%;
  /* margin: 0 auto; */
}

.admin-event-card {
  width: 100%;
  margin-bottom: 10px;
}

.admin-event-image-container {
  width: 30%;
  height: auto;
}

.admin-event-details-container {
  width: 70%;
}

.admin-event-image {
  height: 200px;
}

.admin-event-name-title {
  font-size: 25px;
}

.admin-event-text {
  font-size: 20px;
}

.admin-event-details-buttons-container {
  width: 100%;
}

.event-edit-button {
  margin-right: 10px;
}

.event-edit-button,
.event-delete-button {
  border-style: none;
  width: 150px;
  height: 45px;
  font-size: 17.5px;
}

/* Admin Spotlights */

.admin-spotlight-container {
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 0.5in;
}

.spotlight-image {
  height: 175px;
}

/* Admin Add Event and Spotlight */

.admin-add-event-details-container,
.admin-add-spotlight-details-container {
  background-color: #d0e7ff;
  width: 90%;
}

.admin-add-event-details-group,
.admin-add-spotlight-details-group {
  margin: 25px 0 25px 0;
  width: 90%;
}

.admin-add-event-form,
.admin-add-spotlight-form {
  width: 100%;
}

.admin-add-event-details-group .admin-add-event-label,
.admin-add-spotlight-details-group .admin-add-spotlight-label {
  font-family: "Roboto", sans-serif;
  font-size: 17.5px;
}

.admin-add-event-form input[type="text"],
.admin-add-event-form textarea {
  height: 45px;
  border-style: none;
  border-radius: 10px;
  outline: none;
  margin-bottom: 0px;
  font-size: 15px;
  transition: all 0.35s;
}

.admin-add-event-form input[type="text"]:focus,
.admin-add-event-form textarea:focus {
  outline: 1px solid #007bff;
}

.admin-add-event-button,
.admin-add-spotlight-button {
  background-color: #42bb4e;
  color: #ffffff;
  margin-top: 10px;
  width: 150px;
  height: 45px;
  font-size: 17.5px;
  border-style: none;
  transition: all 0.35s;
}

.admin-add-event-button:hover,
.admin-add-spotlight-button:hover {
  color: rgb(2, 107, 107);
}

/* Edit Event Modal */

.edit-event-modal {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 85vh;
  overflow-y: auto;
  border-style: solid;
  border-width: 1px;
}

.edit-event-content {
  margin: 20px 0 20px 0;
}

.edit-event-content h3 {
  font-size: 25px;
}

.admin-edit-event-details-group {
  width: 90%;
  margin: 0 auto;
}

.admin-edit-event-label {
  font-family: "Roboto", sans-serif;
  font-size: 17.5px;
}

.admin-edit-event-form input[type="text"],
.admin-edit-event-form textarea {
  height: 45px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin-bottom: 0px;
  font-size: 15px;
  overflow-y: auto;
  transition: all 0.35s;
}

.admin-edit-event-form input[type="text"]:focus,
.admin-edit-event-form textarea:focus {
  outline: 1px solid #007bff;
}

.edit-modal-buttons-container {
  margin-top: 10px;
}

.edit-cancel-button {
  margin-right: 20px;
}

.edit-cancel-button,
.edit-save-button {
  width: 150px;
  height: 45px;
  border-style: none;
  font-size: 15px;
}

/* Media */

@media (min-width: 1025px) and (max-width: 1440px) {
  .admin-home-label-h2 {
    font-size: 37.5px;
  }

  .admin-home-nav-tabs {
    font-size: 17.5px;
    margin: 0 0 20px 60px;
    gap: 1in;
  }

  /* Admin All Events */

  .admin-event-card {
    margin-bottom: 10px;
  }

  .admin-event-image-container {
    width: 30%;
    height: auto;
  }

  .admin-event-details-container {
    width: 70%;
  }

  .admin-event-image {
    height: 175px;
  }

  .admin-event-title {
    font-size: 22.5px;
  }

  .admin-event-text {
    font-size: 17.5px;
  }

  .event-edit-button {
    margin-right: 10px;
  }

  .event-edit-button,
  .event-delete-button {
    width: 125px;
    height: 40px;
    font-size: 15px;
  }

  /* Admin All Spotlights */

  .admin-spotlight-container {
    gap: 0.4in;
  }

  .spotlight-image {
    height: 125px;
  }

  /* Edit Program Modal */

  .edit-event-modal {
    width: 100%;
    height: 90%;
  }

  .edit-event-content {
    margin: 20px 0 20px 0;
  }

  .edit-event-content h3 {
    font-size: 22.5px;
  }

  .admin-edit-event-label {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  }

  .admin-edit-event-form input[type="text"],
  .admin-edit-event-form textarea {
    height: 40px;
    font-size: 12.5px;
  }

  .edit-modal-buttons-container {
    margin-top: 10px;
  }

  .edit-cancel-button {
    margin-right: 20px;
  }

  .edit-cancel-button,
  .edit-save-button {
    width: 125px;
    height: 40px;
    border-style: none;
    font-size: 12.5px;
  }

  /* Add Event and Spotlight */

  .admin-add-event-details-group .admin-add-event-label,
  .admin-add-spotlight-details-group .admin-add-spotlight-label {
    font-size: 15px;
  }

  .admin-add-event-form input[type="text"],
  .admin-add-event-form textarea {
    height: 40px;
    font-size: 12.5px;
  }

  .admin-add-event-button,
  .admin-add-spotlight-button {
    width: 125px;
    height: 40px;
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .admin-home-label-h2 {
    font-size: 35px;
  }

  .admin-home-nav-tabs {
    font-size: 15px;
    margin: 0 0 20px 60px;
    gap: 1in;
  }

  /* Admin All Events */

  .admin-event-card {
    margin-bottom: 10px;
  }

  .admin-event-image-container {
    width: 35%;
    height: auto;
  }

  .admin-event-details-container {
    width: 65%;
  }

  .admin-event-image {
    height: 150px;
  }

  .admin-event-title {
    font-size: 20px;
  }

  .admin-event-text {
    font-size: 15px;
  }

  .event-edit-button {
    margin-right: 5px;
  }

  .event-edit-button,
  .event-delete-button {
    width: 100px;
    height: 35px;
    font-size: 12.5px;
  }

  /* Admin All Spotlights */

  .admin-spotlight-container {
    gap: 0.3in;
  }

  .spotlight-image {
    height: 125px;
  }

  /* Edit Program Modal */

  .edit-event-modal {
    width: 100%;
    height: 80%;
  }

  .edit-event-content {
    margin: 20px 0 20px 0;
  }

  .edit-event-content h3 {
    font-size: 20px;
  }

  .admin-edit-event-label {
    font-family: "Roboto", sans-serif;
    font-size: 12.5px;
  }

  .admin-edit-event-form input[type="text"],
  .admin-edit-event-form textarea {
    height: 35px;
    font-size: 10px;
  }

  .edit-modal-buttons-container {
    margin-top: 10px;
  }

  .edit-cancel-button {
    margin-right: 20px;
  }

  .edit-cancel-button,
  .edit-save-button {
    width: 100px;
    height: 35px;
    border-style: none;
    font-size: 10px;
  }

  /* Add Event and Spotlight */

  .admin-add-event-details-group .admin-add-event-label,
  .admin-add-spotlight-details-group .admin-add-spotlight-label {
    font-size: 12.5px;
  }

  .admin-add-event-form input[type="text"],
  .admin-add-event-form textarea {
    height: 35px;
    font-size: 10px;
  }

  .admin-add-event-button,
  .admin-add-spotlight-button {
    width: 100px;
    height: 35px;
    font-size: 12.5px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .admin-home-container {
    left: 0%;
    width: 100%;
  }

  .admin-home-label-h2 {
    font-size: 35px;
    margin: 20px 0 20px 25px;
  }

  .admin-home-nav-tabs {
    font-size: 15px;
    margin: 0 0 20px 30px;
    gap: 0.5in;
  }

  /* Admin All Programs */

  .admin-event-card {
    margin-bottom: 10px;
  }

  .admin-event-image-container {
    width: 40%;
    height: auto;
  }

  .admin-event-details-container {
    width: 60%;
  }

  .admin-event-image {
    height: 150px;
  }

  .admin-event-title {
    font-size: 17.5px;
  }

  .admin-event-text {
    font-size: 12.5px;
  }

  .admin-event-details-buttons-container {
    flex-direction: column;
    align-items: center;
  }

  .event-edit-button {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .event-edit-button,
  .event-delete-button {
    width: 100px;
    height: 35px;
    font-size: 10px;
  }

  /* Admin All Spotlights */

  .admin-spotlight-container {
    gap: 0.2in;
  }

  .spotlight-image {
    height: 100px;
  }

  .admin-add-event-details-group .admin-add-event-label,
  .admin-add-spotlight-details-group .admin-add-spotlight-label {
    font-size: 12.5px;
  }

  .admin-add-event-form input[type="text"],
  .admin-add-event-form textarea {
    height: 40px;
    font-size: 12.5px;
  }

  .event-edit-button,
  .event-delete-button {
    width: 75px;
    height: 40px;
    font-size: 10px;
  }

  /* Edit Program Modal */

  .edit-event-modal {
    width: 100%;
    height: 80%;
  }

  .edit-event-content {
    margin: 20px 0 20px 0;
  }

  .edit-event-content h3 {
    font-size: 20px;
  }

  .admin-edit-event-label {
    font-family: "Roboto", sans-serif;
    font-size: 12.5px;
  }

  .admin-edit-event-form input[type="text"],
  .admin-edit-event-form textarea {
    height: 35px;
    font-size: 10px;
  }

  .edit-modal-buttons-container {
    margin-top: 10px;
  }

  .edit-cancel-button {
    margin-right: 20px;
  }

  .edit-cancel-button,
  .edit-save-button {
    width: 100px;
    height: 35px;
    border-style: none;
    font-size: 10px;
  }

  /* Add Event and Spotlight */

  .admin-add-event-details-group .admin-add-event-label,
  .admin-add-spotlight-details-group .admin-add-spotlight-label {
    font-size: 12.5px;
  }

  .admin-add-event-form input[type="text"],
  .admin-add-event-form textarea {
    height: 35px;
    font-size: 10px;
  }

  .admin-add-event-button,
  .admin-add-spotlight-button {
    width: 100px;
    height: 35px;
    font-size: 12.5px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .admin-home-container {
    left: 0%;
    width: 100%;
  }

  .admin-home-label-h2 {
    font-size: 30px;
    margin: 20px 0 20px 20px;
  }

  .admin-home-nav-tabs {
    font-size: 15px;
    margin: 0 0 20px 25px;
    gap: 0.25in;
  }

  /* Admin All Events */

  .admin-event-card-details {
    flex-direction: column;
    align-items: center;
  }

  .admin-event-card {
    margin-bottom: 10px;
  }

  .admin-event-image-container {
    width: 60%;
    height: auto;
  }

  .admin-event-details-container {
    width: 100%;
  }

  .admin-event-image {
    height: 125px;
  }

  .admin-event-title {
    font-size: 15px;
  }

  .admin-event-text {
    font-size: 12.5px;
  }

  .event-edit-button {
    margin-right: 5px;
  }

  .event-edit-button,
  .event-delete-button {
    width: 75px;
    height: 25px;
    font-size: 7.5px;
  }

  /* Admin All Spotlights */

  .admin-spotlight-container {
    gap: 0.1in;
  }

  .spotlight-image {
    height: 75px;
  }

  /* Edit Event Modal */

  .edit-event-modal {
    width: 80%;
    height: 70%;
  }

  .edit-event-content {
    margin: 20px 0 20px 0;
  }

  .edit-event-content h3 {
    font-size: 17.5px;
  }

  .admin-edit-event-label {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
  }

  .admin-edit-event-form input[type="text"],
  .admin-edit-event-form textarea {
    height: 25px;
    font-size: 7.5px;
  }

  .edit-modal-buttons-container {
    margin-top: 10px;
  }

  .edit-cancel-button {
    margin-right: 10px;
  }

  .edit-cancel-button,
  .edit-save-button {
    width: 75px;
    height: 25px;
    border-style: none;
    font-size: 7.5px;
  }

  /* Add Event and Spotlight */

  .admin-add-event-details-group .admin-add-event-label,
  .admin-add-spotlight-details-group .admin-add-spotlight-label {
    font-size: 10px;
  }

  .admin-add-event-form input[type="text"],
  .admin-add-event-form textarea {
    height: 30px;
    font-size: 7.5px;
  }

  .admin-add-event-button,
  .admin-add-spotlight-button {
    width: 100px;
    height: 25px;
    font-size: 10px;
  }
}
