@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

.admin-gym-reservation-container {
  position: relative;
  padding-top: 75px;
  left: 22.5%;
  width: 77.5%;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  z-index: 1;
}

.admin-greservation-label-h2 {
  font-size: 40px;
  margin: 20px 0 20px 40px;
}

/* Time */

.time-dropdown-container {
  height: 50px;
}

.time-dropdown-container .time-dropdown {
  width: 20%;
}

.time-dropdown .time-dropdown-button {
  font-size: 15px;
  height: 50px;
}

.time-dropdown-menu .dropdown-item {
  font-size: 15px;
}

/* Table Decision Buttons */

.admin-greservation-buttons-table-container {
  width: 90%;
  margin: 0 auto 40px;
}

.admin-gr-toggle-buttons-container {
  height: 45px;
  width: 100%;
  margin-bottom: 20px;
  gap: 0.25in;
}

.gr-toggle-container .gr-toggle {
  font-size: 15px;
  height: 45px;
}

.gr-toggle-container .gr-toggle-text .dropdown-item {
  font-size: 15px;
}

.admin-gr-approve-button,
.admin-gr-disapprove-button {
  font-size: 15px;
  width: 175px;
  height: 45px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Gym Reservation Table */

.admin-greservation-table-container tr {
  height: 40px;
}

.admin-greservation-table-container th {
  font-size: 17.5px;
  font-weight: bold;
}

.admin-greservation-table-container td {
  font-size: 15px;
}

.admin-greservation-action-button-container .admin-greservation-edit-button {
  font-size: 12.5px;
  width: 70px;
  height: 40px;
  transition: all 0.35s;
}

/* Calendar */

.admin-greservation-calendar-container {
  width: 90%;
  margin: 0 auto;
}

.gr-calendar {
  border-style: solid;
  border-width: 1px;
  border-color: #25327a;
}

/* Media */

@media (min-width: 1025px) and (max-width: 1440px) {
  .admin-greservation-label-h2 {
    font-size: 37.5px;
  }

  /* Time */

  .time-dropdown-container {
    height: 45px;
  }

  .time-dropdown-container .time-dropdown {
    width: 25%;
  }

  .time-dropdown .time-dropdown-button {
    font-size: 12.5px;
    height: 45px;
  }

  .time-dropdown-menu .dropdown-item {
    font-size: 12.5px;
  }

  /* Table Decision Buttons */

  .admin-gr-toggle-buttons-container {
    height: 40px;
    gap: 0.20in;
  }

  .gr-toggle-container .gr-toggle {
    font-size: 12.5px;
    height: 40px;
  }

  .gr-toggle-container .gr-toggle-text .dropdown-item {
    font-size: 12.5px;
  }

  .admin-gr-approve-button,
  .admin-gr-disapprove-button {
    font-size: 12.5px;
    width: 150px;
    height: 40px;
  }

  /* Gym Reservation Table */

  .admin-greservation-table-container tr {
    height: 35px;
  }

  .admin-greservation-table-container th {
    font-size: 15px;
  }

  .admin-greservation-table-container td {
    font-size: 12.5px;
  }

  .admin-greservation-action-button-container .admin-greservation-edit-button {
    font-size: 10px;
    width: 60px;
    height: 35px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .admin-greservation-label-h2 {
    font-size: 35px;
  }

  /* Time */

  .time-dropdown-container {
    height: 40px;
  }

  .time-dropdown-container .time-dropdown {
    width: 30%;
  }

  .time-dropdown .time-dropdown-button {
    font-size: 10px;
    height: 40px;
  }

  .time-dropdown-menu .dropdown-item {
    font-size: 10px;
  }

  /* Table Decision Buttons */

  .admin-gr-toggle-buttons-container {
    height: 35px;
    gap: 0.15in;
  }

  .gr-toggle-container .gr-toggle {
    font-size: 10px;
    height: 35px;
  }

  .gr-toggle-container .gr-toggle-text .dropdown-item {
    font-size: 10px;
  }

  .admin-gr-approve-button,
  .admin-gr-disapprove-button {
    font-size: 10px;
    width: 125px;
    height: 35px;
  }

  /* Gym Reservation Table */

  .admin-greservation-table-container tr {
    height: 30px;
  }

  .admin-greservation-table-container th {
    font-size: 12.5px;
  }

  .admin-greservation-table-container td {
    font-size: 10px;
  }

  .admin-greservation-action-button-container .admin-greservation-edit-button {
    font-size: 7.5px;
    width: 50px;
    height: 30px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .admin-gym-reservation-container {
    left: 0%;
    width: 100%;
  }

  .admin-greservation-label-h2 {
    font-size: 35px;
    margin: 20px 0 20px 25px;
  }

  /* Time */

  .time-dropdown-container {
    height: 40px;
  }

  .time-dropdown-container .time-dropdown {
    width: 35%;
  }

  .time-dropdown .time-dropdown-button {
    font-size: 10px;
    height: 40px;
  }

  .time-dropdown-menu .dropdown-item {
    font-size: 10px;
  }

  /* Table Decision Buttons */

  .admin-gr-toggle-buttons-container {
    height: 35px;
    gap: 0.15in;
  }

  .gr-toggle-container .gr-toggle {
    font-size: 10px;
    height: 35px;
  }

  .gr-toggle-container .gr-toggle-text .dropdown-item {
    font-size: 10px;
  }

  .admin-gr-approve-button,
  .admin-gr-disapprove-button {
    font-size: 10px;
    width: 125px;
    height: 35px;
  }

  /* Gym Reservation Table */

  .admin-greservation-table-container tr {
    height: 30px;
  }

  .admin-greservation-table-container th {
    font-size: 12.5px;
  }

  .admin-greservation-table-container td {
    font-size: 10px;
  }

  .admin-greservation-action-button-container .admin-greservation-edit-button {
    font-size: 7.5px;
    width: 50px;
    height: 30px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .admin-gym-reservation-container {
    left: 0%;
    width: 100%;
  }

  .admin-greservation-label-h2 {
    font-size: 30px;
    margin: 20px 0 20px 20px;
  }

  /* Time */

  .time-dropdown-container {
    height: 35px;
  }

  .time-dropdown-container .time-dropdown {
    width: 50%;
  }

  .time-dropdown .time-dropdown-button {
    font-size: 10px;
    height: 35px;
  }

  .time-dropdown-menu .dropdown-item {
    font-size: 10px;
  }

  /* Table Decision Buttons */

  .admin-gr-toggle-buttons-container {
    height: 25px;
    gap: 0.10in;
  }
  
  .gr-toggle-container .gr-toggle {
    font-size: 7.5px;
    height: 25px;
  }
  
  .gr-toggle-container .gr-toggle-text .dropdown-item {
    font-size: 7.5px;
  }
  
  .admin-gr-approve-button,
  .admin-gr-disapprove-button {
    font-size: 7.5px;
    width: 100px;
    height: 25px;
  }

  /* Gym Reservation Table */

  .admin-greservation-table-container tr {
    height: 20px;
  }

  .admin-greservation-table-container th {
    font-size: 10px;
  }

  .admin-greservation-table-container td {
    font-size: 7.5px;
  }

  .admin-greservation-action-button-container .admin-greservation-edit-button {
    font-size: 5px;
    width: 40px;
    height: 25px;
  }
}
