/* AdminReports.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.admin-reports-container {
    position: relative;
    top: 75px;
    left: 25%;
    width: 75%;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.admin-reports-label-h2 {
    font-size: 40px;
    margin: 20px 40px 20px 40px;
}

.admin-reports-nav-tabs {
    cursor: pointer;
    font-size: 20px;
    margin: 0 0 20px 60px;
    gap: 1in;
    color: #766F6F;
    transition: all 0.35s;
}

.admin-reports-nav-tabs li:hover {
    color: #E3DFDF;
}

.admin-reports-nav-tabs li.active-tab {
    color: red;
    text-decoration: underline;
    text-decoration-color: #C1C1C1;
    text-underline-offset: 10px;
}

.admin-reservation-reports-details-container,
.admin-generate-report-container {
    background-color: #c5c1c1;
    width: 90%;
}

.admin-reservation-reports-table {
    margin: 25px 0 25px 0;
    background-color: #FFFFFF;
    width: 90%;
}

.all-reservation-reports-th {
    font-size: 17.5px;
}

.admin-generate-report-group {
    width: 90%;
    margin: 25px 0 25px 0;
}

.admin-generate-report-group .admin-generate-report-label {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.generate-report-form {
    width: 100%;
}

.generate-report-date-time {
    width: 100%;
    gap: 1in;
}

.generate-report-date-time .generate-report-date,
.generate-report-date-time .generate-report-time {
    width: 50%;
    border-style: none;
    border-radius: 10px;
    outline: none;
    transition: all 0.35s;
}

.generate-report-form input[type="text"], 
.generate-report-date-time input[type="date"],
.generate-report-date-time input[type="time"] {
    height: 50px;
}

.admin-generate-report-button {
    margin-top: 10px;
    width: 175px;
    height: 55px;
}
